@import '../styles/hero';
@import '../styles/variables';

.beta-application {
  margin-bottom: 3rem;

  .underlined-header {
    border-bottom: 1px solid black;
  }

  .small-header-text {
    font-size: 14px;
    color: grey;
  }

  .name-input {
    display: inline-block;
    width: 100%;
  }

  .form-container {
    margin-top: 3rem;
    width: 100%;
  }

  .checkbox-label {
    font-weight: bold;
    max-width: none;
  }

  .small-checkbox-label {
    color: grey;
    font-weight: normal;
  }

  .no-pad {
    padding: 0;
  }

  .bold-text {
    font-weight: bold
  }

  .right-box {
    border: 1px solid white;
    padding-left: 2em;
    padding-right: 2em;

    @media screen and (min-width: $large-screen) {
      float: right;
    }

    @media screen and (max-width: $small-screen) {
      float: left;
    }
  }

  .question-area {
    margin-top: 60px;
  }

  .internet-checkbox-group {
    margin-top: 30px;
  }
}
