@import '../styles/variables';

.hover-image {
    width: 20rem;
    height: 14rem;
    background-position: center;
    background-size: cover;
    background-image: url('../assets/video-player.png');

    &:hover {
        background-image: url('../assets/video-player-hover.png')
    }
}