// These styles are lifted from src/containers/Explore.scss and should be
// extracted since we want them on all pages except the homepage
.news {

  // These styles will probably be removed in favor of formation classes once we make the switch
  .va-api-media-item {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }

  .va-api-media-row {
    display: flex;
    flex-direction: row;
  }

  .va-api-media-row-description {
    margin-left: 2rem;
    margin-top: auto;
    margin-bottom: auto;
  }

  .usa-section {
    padding-top: 0;

    > div {
      margin-bottom: 3rem;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .news-section {
    margin-bottom: 3rem;
  }
}
