// React tabs styling from https://github.com/reactjs/react-tabs/blob/master/style/react-tabs.css
@import "../base";

.react-tabs {
  -webkit-tap-highlight-color: transparent;

  margin-top: 40px;

  > ul {
    border-color: #DBDBDD;
    margin: 0;

    > li {
      margin-bottom: 0;
    }

    [aria-selected=true] {
      border-color: #DBDBDD;
    }
  }

  [role=tabpanel] {
    background-color: $color-white;
    border-right: 1px solid #DBDBDD;
    border-bottom: 1px solid #DBDBDD;
    border-left: 1px solid #DBDBDD;
    padding: 1.5rem 2rem;

  }
}

.react-tabs__tab-list {
  border-bottom: 1px solid #aaa;
  margin: 0 0 10px;
  padding: 0;
}

.react-tabs__tab {
  display: inline-block;
  border: 1px solid transparent;
  border-bottom: none;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 6px 12px;
  cursor: pointer;
}

.react-tabs__tab--selected {
  background: #fff;
  border-color: #aaa;
  color: black;
  border-radius: 5px 5px 0 0;
}

.react-tabs__tab--disabled {
  color: GrayText;
  cursor: default;
}

.react-tabs__tab:focus {
  box-shadow: 0 0 5px hsl(208, 99%, 50%);
  border-color: hsl(208, 99%, 50%);
  outline: none;
}

.react-tabs__tab-panel {
  display: none;
}

.react-tabs__tab-panel--selected {
  display: block;
}