@import '../../styles/variables';

.va-api-card {
  + .va-api-card {
    margin-top: 1.5rem;
  }
  position: relative;

  .card-content {
    padding: 1rem;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
  }

  .name-border {
    width: 20%;
  }

  p {
    max-width: 60ch;
  }

  a {
    &::after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
    }
  }

  &:hover {
    border-color: $color-primary-darker !important;
    .name-border {
      width: 20%;
      border-bottom: 5px solid $color-primary-darker !important;
    }
  }

  &:active {
    outline: 2px solid $color-gold;
    outline-offset: 2px;
    .name-border {
      width: 20%;
      border-bottom: 5px solid $color-primary-darker !important;
    }
  }

  .card-content > {
    * + * {
      margin-top: 0.75rem;
    }

    :last-child {
      margin-top: auto;
      padding-top: 0.75rem;
    }
  }
}
