.request-production-access {
  tbody {
    vertical-align: top;
  }

  ol.checklist {
    list-style: decimal outside url('../../assets/checklist-checkbox.svg');
    margin-left: 0;
    padding-left: 2rem;

    li > ol {
      list-style: lower-alpha outside url('../../assets/checklist-checkbox.svg');
      margin-left: 0;
      padding-left: 2rem;
    }
  }
}