.request-production-access {
  h3 {
    font-size: 1.6rem;
  }

  tbody {
    vertical-align: top;
  }

  ul.checklist {
    li {
      list-style-image: url('../../assets/checklist-checkbox.svg');
    }
  }
}