@import '../../styles/variables';

.va-api-authorization-docs {
  p,
  td {
    line-height: 1.6;
  }

  code,
  .code-wrapper {
    // Needs both due to covering of both code blocks and inline formatted code/parameter names
    background-color: #222935;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
  }

  code {
    color: $color-white;
    font-family: 'Source Code Pro', monospace;
    padding: 0.2rem 0.4rem;
    margin: auto 0.2rem;

    // this may look ugly but there's no padding at line end/start when text wraps
    white-space: nowrap;
  }

  pre > code {
    display: block;
    padding: 2rem;
    margin: 0;
    white-space: pre;

    &:focus {
      border: 1px solid $color-gray;
    }
  }

  td ul {
    border: none;
  }

  .auth-page-links {
    border-left: 2px solid $color-gray-light;
    list-style-type: none;
  }

  .auth-page-indent-link {
    margin-left: 2rem;
    list-style-type: square;
  }

  h2#on-this-page + ul {
    border-left: 2px solid $color-gray-light;
    list-style-type: none;
    ul {
      list-style-type: square;
    }
  }

  .api-selector {
    select {
        background-color:$color-gray;
        option {
            background-color: $color-white;
            color: $color-black;
        }
    }
  }

  .scopes-content {
    .api-selector {
      select {
        background-color:$color-white;
        border-radius: 0;
        color: $color-black;
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAcCAYAAABh2p9gAAAAAXNSR0IArs4c6QAAAPFJREFUSA3tlr0OAUEUhZdCRSQSBVFsQuNtPCS9t7CFRqNAFAoPoeE7m72FiTHWXp2THPN3z7eJ3Z3ZLEtrTsmxsvqNNCN9xffK6mvuK+WkLthg1mpOa7U0ofqMDRK2WlPNRxpRdcAhJByrRrVvNWR1j8NwbKxaZV5qwOwOx8KxeWWUfVKf0RbHQql5ZcUo1eN3g1Oh1LoYYmUrB5hdbNkGNhXVSbMWoDFe4E5D6I38uiHjH+cf+MlNKQDbc9S0LfQcnhzvVcnqAvR69cQq5bo5GNR1+zKo6wZrUNcjwKCuh5RBczpux6hBXQ96g9b6FHkA0+zeRS2oYfAAAAAASUVORK5CYII=');
      }
    }
  }
}
