.curl-container {
  margin: 2em;
  #title {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
  .curl-form {
    background-color: #EEEEEE;
    border-radius: 6px;
    border-style: solid;

    &__contents {
      margin: 1em;
    }
  }
}
