@mixin va-api-input-text-color($color) {
  input {
    color: $color;

    &:focus::placeholder {
      color: $color;
    }
  }
  
  ::placeholder {
    /* modern browser */
    color: $color;
  }
}

@mixin focus-outline {
  outline: 2px solid $color-gold;
  outline-offset: 2px;
}
