@import '../../styles/variables';

.api-tag {
    align-items: center;
    border-radius: 3px;
    display: flex;
    flex-flow: row nowrap;
    font-size: 1.6rem;
    font-variant: all-small-caps;
    height: 2.4rem;
    gap: 0.4rem;
    line-height: 2.4rem;
    padding: 0 0.4rem;

    span {
        padding-bottom: .3rem;
    }
}

.api-tag-fa-lock {
    height: 1.2rem !important;
}