{
  "openapi": "3.0.0",
  "info": {
    "title": "Decision Reviews",
    "version": "1.0.0",
    "description": "The Decision Reviews API allows you to interact with a Veteran\u2019s decision reviews, also known as benefit appeals. This API provides a secure and efficient alternative to paper or fax submissions and follows the AMA process. To view the status of all decision reviews and benefits appeals submitted according to the legacy benefits appeals process, use the [Appeals Status API](/explore/appeals/docs/appeals?version=current).\n\nInformation about the decision reviews process and types of decision reviews is available on the [VA decision reviews and appeals page](https://www.va.gov/decision-reviews/#request-a-decision-review-or-appeal).\n\n### Background\nThe Decision Reviews API passes data through to Caseflow, a case management system. The API converts decision review data into structured data that can be used for processing and reporting. \n\nBecause this application is designed to allow third-parties to request information on behalf of a Veteran, we are not using VA Authentication Federation Infrastructure (VAAFI) headers or Single Sign On External (SSOe).\n\n### Authorization and Access\nTo gain access to the decision reviews API you must [request an API Key](/apply). API requests are authorized through a symmetric API token which is provided in an HTTP header named `apikey`.\n\n",
    "termsOfService": "https://developer.va.gov/terms-of-service",
    "contact": {
      "name": "VA API Benefits Team"
    }
  },
  "servers": [
    {
      "description": "VA.gov API sandbox environment",
      "url": "https://sandbox-api.va.gov/services/appeals/{version}/decision_reviews",
      "variables": {
        "version": {
          "default": "v1"
        }
      }
    },
    {
      "description": "VA.gov API production environment",
      "url": "https://api.va.gov/services/appeals/{version}/decision_reviews",
      "variables": {
        "version": {
          "default": "v1"
        }
      }
    }
  ],
  "basePath": "/services/appeals/v1",
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "components": {
    "schemas": {
      "uuid": {
        "type": "string",
        "pattern": "^[0-9a-fA-F]{8}(-[0-9a-fA-F]{4}){3}-[0-9a-fA-F]{12}$"
      },
      "timeStamp": {
        "type": "string",
        "pattern": "\\d{4}(-\\d{2}){2}T\\d{2}(:\\d{2}){2}\\.\\d{3}Z"
      },
      "hlrStatus": {
        "type": "string",
        "enum": [
          "pending",
          "submitting",
          "submitted",
          "processing",
          "error",
          "uploaded",
          "received",
          "success",
          "vbms",
          "expired"
        ]
      },
      "errorWithTitleAndDetail": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "title": {
              "type": "string"
            },
            "detail": {
              "type": "string"
            }
          }
        }
      },
      "hlrCreateParameters": {
        "type": "object",
        "properties": {
          "X-VA-SSN": {
            "$ref": "#/components/schemas/X-VA-SSN"
          },
          "X-VA-First-Name": {
            "$ref": "#/components/schemas/X-VA-First-Name"
          },
          "X-VA-Middle-Initial": {
            "$ref": "#/components/schemas/X-VA-Middle-Initial"
          },
          "X-VA-Last-Name": {
            "$ref": "#/components/schemas/X-VA-Last-Name"
          },
          "X-VA-Birth-Date": {
            "$ref": "#/components/schemas/X-VA-Birth-Date"
          },
          "X-VA-File-Number": {
            "$ref": "#/components/schemas/X-VA-File-Number"
          },
          "X-VA-Service-Number": {
            "$ref": "#/components/schemas/X-VA-Service-Number"
          },
          "X-VA-Insurance-Policy-Number": {
            "$ref": "#/components/schemas/X-VA-Insurance-Policy-Number"
          }
        },
        "additionalProperties": false,
        "required": ["X-VA-SSN", "X-VA-First-Name", "X-VA-Last-Name", "X-VA-Birth-Date"]
      },
      "X-VA-SSN": {
        "allOf": [
          {
            "description": "veteran's SSN"
          },
          {
            "type": "string",
            "pattern": "^[0-9]{9}$"
          }
        ]
      },
      "X-VA-First-Name": {
        "allOf": [
          {
            "description": "veteran's first name"
          },
          {
            "type": "string",
            "maxLength": 12
          }
        ]
      },
      "X-VA-Middle-Initial": {
        "allOf": [
          {
            "description": "veteran's middle initial"
          },
          {
            "$ref": "#/components/schemas/nonBlankStringMaxLength1"
          }
        ]
      },
      "X-VA-Last-Name": {
        "allOf": [
          {
            "description": "veteran's last name"
          },
          {
            "$ref": "#/components/schemas/nonBlankStringMaxLength18"
          }
        ]
      },
      "X-VA-Birth-Date": {
        "allOf": [
          {
            "description": "veteran's birth date"
          },
          {
            "$ref": "#/components/schemas/date"
          }
        ]
      },
      "X-VA-File-Number": {
        "allOf": [
          {
            "description": "veteran's file number"
          },
          {
            "$ref": "#/components/schemas/nonBlankStringMaxLength9"
          }
        ]
      },
      "X-VA-Service-Number": {
        "allOf": [
          {
            "description": "veteran's service number"
          },
          {
            "$ref": "#/components/schemas/nonBlankStringMaxLength9"
          }
        ]
      },
      "X-VA-Insurance-Policy-Number": {
        "allOf": [
          {
            "description": "veteran's insurance policy number"
          },
          {
            "$ref": "#/components/schemas/nonBlankStringMaxLength18"
          }
        ]
      },
      "nonBlankString": {
        "type": "string",
        "pattern": "\\S"
      },
      "nonBlankStringMaxLength18": {
        "allOf": [
          {
            "$ref": "#/components/schemas/nonBlankString"
          },
          {
            "maxLength": 18
          }
        ]
      },
      "nonBlankStringMaxLength9": {
        "allOf": [
          {
            "$ref": "#/components/schemas/nonBlankString"
          },
          {
            "maxLength": 9
          }
        ]
      },
      "nonBlankStringMaxLength1": {
        "allOf": [
          {
            "$ref": "#/components/schemas/nonBlankString"
          },
          {
            "maxLength": 1
          }
        ]
      },
      "date": {
        "type": "string",
        "pattern": "^[0-9]{4}-[0-9]{2}-[0-9]{2}$"
      },
      "nonBlankStringMaxLength140": {
        "allOf": [
          {
            "$ref": "#/components/schemas/nonBlankString"
          },
          {
            "maxLength": 140
          }
        ]
      },
      "hlrCreate": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/hlrCreateData"
          },
          "included": {
            "$ref": "#/components/schemas/hlrCreateIncluded"
          }
        },
        "additionalProperties": false,
        "required": ["data", "included"]
      },
      "hlrCreateData": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": ["higherLevelReview"]
          },
          "attributes": {
            "$ref": "#/components/schemas/hlrCreateDataAttributes"
          }
        },
        "additionalProperties": false,
        "required": ["type", "attributes"]
      },
      "hlrCreateDataAttributes": {
        "description": "If informal conference requested (`informalConference: true`), availability must be specified (`informalConferenceTimes`). Explanation of abbreviated benefit types: `pension`: Pension / Survivor's Benefits, `voc_rehab`: Vocational Rehabilitation and Employment, `vha`: Veterans Health Administration, `nca`: National Cemetery Administration",
        "oneOf": [
          {
            "type": "object",
            "properties": {
              "informalConference": {
                "type": "boolean",
                "enum": [false]
              },
              "sameOffice": {
                "type": "boolean"
              },
              "benefitType": {
                "$ref": "#/components/schemas/hlrCreateBenefitType"
              },
              "veteran": {
                "$ref": "#/components/schemas/hlrCreateVeteran"
              }
            },
            "additionalProperties": false,
            "required": ["informalConference", "sameOffice", "benefitType", "veteran"]
          },
          {
            "type": "object",
            "properties": {
              "informalConference": {
                "type": "boolean",
                "enum": [true]
              },
              "sameOffice": {
                "type": "boolean"
              },
              "benefitType": {
                "$ref": "#/components/schemas/hlrCreateBenefitType"
              },
              "veteran": {
                "$ref": "#/components/schemas/hlrCreateVeteran"
              },
              "informalConferenceTimes": {
                "$ref": "#/components/schemas/hlrCreateInformalConferenceTimes"
              },
              "informalConferenceRep": {
                "$ref": "#/components/schemas/hlrCreateInformalConferenceRep"
              }
            },
            "additionalProperties": false,
            "required": [
              "informalConference",
              "sameOffice",
              "benefitType",
              "veteran",
              "informalConferenceTimes"
            ]
          }
        ]
      },
      "hlrCreateBenefitType": {
        "type": "string",
        "enum": ["compensation"]
      },
      "hlrCreateInformalConferenceTimes": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/hlrCreateInformalConferenceTime"
        },
        "minItems": 1,
        "maxItems": 2,
        "uniqueItems": true
      },
      "hlrCreateInformalConferenceTime": {
        "type": "string",
        "description": "time ranges in Eastern Time",
        "enum": ["800-1000 ET", "1000-1230 ET", "1230-1400 ET", "1400-1630 ET"]
      },
      "hlrCreateInformalConferenceRep": {
        "type": "object",
        "properties": {
          "name": {
            "$ref": "#/components/schemas/nonBlankString"
          },
          "phone": {
            "$ref": "#/components/schemas/hlrCreatePhone"
          }
        },
        "additionalProperties": false,
        "required": ["name", "phone"]
      },
      "hlrCreatePhone": {
        "type": "object",
        "properties": {
          "countryCode": {
            "type": "string",
            "pattern": "^[0-9]+$"
          },
          "areaCode": {
            "type": "string",
            "pattern": "^[2-9][0-9]{2}$"
          },
          "phoneNumber": {
            "type": "string",
            "pattern": "^[0-9]{1,14}$"
          },
          "phoneNumberExt": {
            "type": "string",
            "pattern": "^[a-zA-Z0-9]{1,10}$"
          }
        },
        "required": ["areaCode", "phoneNumber"]
      },
      "hlrCreateVeteran": {
        "type": "object",
        "properties": {
          "address": {
            "$ref": "#/components/schemas/hlrCreateAddress"
          },
          "phone": {
            "$ref": "#/components/schemas/hlrCreatePhone"
          },
          "emailAddressText": {
            "type": "string",
            "pattern": ".@.",
            "maxLength": 44
          },
          "timezone": {
            "type": "string",
            "description": "Veteran's timezone (either [IANA](https://en.wikipedia.org/wiki/List_of_tz_database_time_zones) or [Rails](https://github.com/rails/rails/blob/master/activesupport/lib/active_support/values/time_zone.rb) style). Used for adding the current date to the signature according to the veteran's local time. If not specified, the current UTC date will be used for the signature (which may be ahead or behind the local date).",
            "enum": [
              "Abu Dhabi",
              "Adelaide",
              "Africa/Abidjan",
              "Africa/Accra",
              "Africa/Addis_Ababa",
              "Africa/Algiers",
              "Africa/Asmara",
              "Africa/Asmera",
              "Africa/Bamako",
              "Africa/Bangui",
              "Africa/Banjul",
              "Africa/Bissau",
              "Africa/Blantyre",
              "Africa/Brazzaville",
              "Africa/Bujumbura",
              "Africa/Cairo",
              "Africa/Casablanca",
              "Africa/Ceuta",
              "Africa/Conakry",
              "Africa/Dakar",
              "Africa/Dar_es_Salaam",
              "Africa/Djibouti",
              "Africa/Douala",
              "Africa/El_Aaiun",
              "Africa/Freetown",
              "Africa/Gaborone",
              "Africa/Harare",
              "Africa/Johannesburg",
              "Africa/Juba",
              "Africa/Kampala",
              "Africa/Khartoum",
              "Africa/Kigali",
              "Africa/Kinshasa",
              "Africa/Lagos",
              "Africa/Libreville",
              "Africa/Lome",
              "Africa/Luanda",
              "Africa/Lubumbashi",
              "Africa/Lusaka",
              "Africa/Malabo",
              "Africa/Maputo",
              "Africa/Maseru",
              "Africa/Mbabane",
              "Africa/Mogadishu",
              "Africa/Monrovia",
              "Africa/Nairobi",
              "Africa/Ndjamena",
              "Africa/Niamey",
              "Africa/Nouakchott",
              "Africa/Ouagadougou",
              "Africa/Porto-Novo",
              "Africa/Sao_Tome",
              "Africa/Timbuktu",
              "Africa/Tripoli",
              "Africa/Tunis",
              "Africa/Windhoek",
              "Alaska",
              "Almaty",
              "America/Adak",
              "America/Anchorage",
              "America/Anguilla",
              "America/Antigua",
              "America/Araguaina",
              "America/Argentina/Buenos_Aires",
              "America/Argentina/Catamarca",
              "America/Argentina/ComodRivadavia",
              "America/Argentina/Cordoba",
              "America/Argentina/Jujuy",
              "America/Argentina/La_Rioja",
              "America/Argentina/Mendoza",
              "America/Argentina/Rio_Gallegos",
              "America/Argentina/Salta",
              "America/Argentina/San_Juan",
              "America/Argentina/San_Luis",
              "America/Argentina/Tucuman",
              "America/Argentina/Ushuaia",
              "America/Aruba",
              "America/Asuncion",
              "America/Atikokan",
              "America/Atka",
              "America/Bahia",
              "America/Bahia_Banderas",
              "America/Barbados",
              "America/Belem",
              "America/Belize",
              "America/Blanc-Sablon",
              "America/Boa_Vista",
              "America/Bogota",
              "America/Boise",
              "America/Buenos_Aires",
              "America/Cambridge_Bay",
              "America/Campo_Grande",
              "America/Cancun",
              "America/Caracas",
              "America/Catamarca",
              "America/Cayenne",
              "America/Cayman",
              "America/Chicago",
              "America/Chihuahua",
              "America/Coral_Harbour",
              "America/Cordoba",
              "America/Costa_Rica",
              "America/Creston",
              "America/Cuiaba",
              "America/Curacao",
              "America/Danmarkshavn",
              "America/Dawson",
              "America/Dawson_Creek",
              "America/Denver",
              "America/Detroit",
              "America/Dominica",
              "America/Edmonton",
              "America/Eirunepe",
              "America/El_Salvador",
              "America/Ensenada",
              "America/Fort_Nelson",
              "America/Fort_Wayne",
              "America/Fortaleza",
              "America/Glace_Bay",
              "America/Godthab",
              "America/Goose_Bay",
              "America/Grand_Turk",
              "America/Grenada",
              "America/Guadeloupe",
              "America/Guatemala",
              "America/Guayaquil",
              "America/Guyana",
              "America/Halifax",
              "America/Havana",
              "America/Hermosillo",
              "America/Indiana/Indianapolis",
              "America/Indiana/Knox",
              "America/Indiana/Marengo",
              "America/Indiana/Petersburg",
              "America/Indiana/Tell_City",
              "America/Indiana/Vevay",
              "America/Indiana/Vincennes",
              "America/Indiana/Winamac",
              "America/Indianapolis",
              "America/Inuvik",
              "America/Iqaluit",
              "America/Jamaica",
              "America/Jujuy",
              "America/Juneau",
              "America/Kentucky/Louisville",
              "America/Kentucky/Monticello",
              "America/Knox_IN",
              "America/Kralendijk",
              "America/La_Paz",
              "America/Lima",
              "America/Los_Angeles",
              "America/Louisville",
              "America/Lower_Princes",
              "America/Maceio",
              "America/Managua",
              "America/Manaus",
              "America/Marigot",
              "America/Martinique",
              "America/Matamoros",
              "America/Mazatlan",
              "America/Mendoza",
              "America/Menominee",
              "America/Merida",
              "America/Metlakatla",
              "America/Mexico_City",
              "America/Miquelon",
              "America/Moncton",
              "America/Monterrey",
              "America/Montevideo",
              "America/Montreal",
              "America/Montserrat",
              "America/Nassau",
              "America/New_York",
              "America/Nipigon",
              "America/Nome",
              "America/Noronha",
              "America/North_Dakota/Beulah",
              "America/North_Dakota/Center",
              "America/North_Dakota/New_Salem",
              "America/Ojinaga",
              "America/Panama",
              "America/Pangnirtung",
              "America/Paramaribo",
              "America/Phoenix",
              "America/Port-au-Prince",
              "America/Port_of_Spain",
              "America/Porto_Acre",
              "America/Porto_Velho",
              "America/Puerto_Rico",
              "America/Punta_Arenas",
              "America/Rainy_River",
              "America/Rankin_Inlet",
              "America/Recife",
              "America/Regina",
              "America/Resolute",
              "America/Rio_Branco",
              "America/Rosario",
              "America/Santa_Isabel",
              "America/Santarem",
              "America/Santiago",
              "America/Santo_Domingo",
              "America/Sao_Paulo",
              "America/Scoresbysund",
              "America/Shiprock",
              "America/Sitka",
              "America/St_Barthelemy",
              "America/St_Johns",
              "America/St_Kitts",
              "America/St_Lucia",
              "America/St_Thomas",
              "America/St_Vincent",
              "America/Swift_Current",
              "America/Tegucigalpa",
              "America/Thule",
              "America/Thunder_Bay",
              "America/Tijuana",
              "America/Toronto",
              "America/Tortola",
              "America/Vancouver",
              "America/Virgin",
              "America/Whitehorse",
              "America/Winnipeg",
              "America/Yakutat",
              "America/Yellowknife",
              "American Samoa",
              "Amsterdam",
              "Antarctica/Casey",
              "Antarctica/Davis",
              "Antarctica/DumontDUrville",
              "Antarctica/Macquarie",
              "Antarctica/Mawson",
              "Antarctica/McMurdo",
              "Antarctica/Palmer",
              "Antarctica/Rothera",
              "Antarctica/South_Pole",
              "Antarctica/Syowa",
              "Antarctica/Troll",
              "Antarctica/Vostok",
              "Arctic/Longyearbyen",
              "Arizona",
              "Asia/Aden",
              "Asia/Almaty",
              "Asia/Amman",
              "Asia/Anadyr",
              "Asia/Aqtau",
              "Asia/Aqtobe",
              "Asia/Ashgabat",
              "Asia/Ashkhabad",
              "Asia/Atyrau",
              "Asia/Baghdad",
              "Asia/Bahrain",
              "Asia/Baku",
              "Asia/Bangkok",
              "Asia/Barnaul",
              "Asia/Beirut",
              "Asia/Bishkek",
              "Asia/Brunei",
              "Asia/Calcutta",
              "Asia/Chita",
              "Asia/Choibalsan",
              "Asia/Chongqing",
              "Asia/Chungking",
              "Asia/Colombo",
              "Asia/Dacca",
              "Asia/Damascus",
              "Asia/Dhaka",
              "Asia/Dili",
              "Asia/Dubai",
              "Asia/Dushanbe",
              "Asia/Famagusta",
              "Asia/Gaza",
              "Asia/Harbin",
              "Asia/Hebron",
              "Asia/Ho_Chi_Minh",
              "Asia/Hong_Kong",
              "Asia/Hovd",
              "Asia/Irkutsk",
              "Asia/Istanbul",
              "Asia/Jakarta",
              "Asia/Jayapura",
              "Asia/Jerusalem",
              "Asia/Kabul",
              "Asia/Kamchatka",
              "Asia/Karachi",
              "Asia/Kashgar",
              "Asia/Kathmandu",
              "Asia/Katmandu",
              "Asia/Khandyga",
              "Asia/Kolkata",
              "Asia/Krasnoyarsk",
              "Asia/Kuala_Lumpur",
              "Asia/Kuching",
              "Asia/Kuwait",
              "Asia/Macao",
              "Asia/Macau",
              "Asia/Magadan",
              "Asia/Makassar",
              "Asia/Manila",
              "Asia/Muscat",
              "Asia/Nicosia",
              "Asia/Novokuznetsk",
              "Asia/Novosibirsk",
              "Asia/Omsk",
              "Asia/Oral",
              "Asia/Phnom_Penh",
              "Asia/Pontianak",
              "Asia/Pyongyang",
              "Asia/Qatar",
              "Asia/Qostanay",
              "Asia/Qyzylorda",
              "Asia/Rangoon",
              "Asia/Riyadh",
              "Asia/Saigon",
              "Asia/Sakhalin",
              "Asia/Samarkand",
              "Asia/Seoul",
              "Asia/Shanghai",
              "Asia/Singapore",
              "Asia/Srednekolymsk",
              "Asia/Taipei",
              "Asia/Tashkent",
              "Asia/Tbilisi",
              "Asia/Tehran",
              "Asia/Tel_Aviv",
              "Asia/Thimbu",
              "Asia/Thimphu",
              "Asia/Tokyo",
              "Asia/Tomsk",
              "Asia/Ujung_Pandang",
              "Asia/Ulaanbaatar",
              "Asia/Ulan_Bator",
              "Asia/Urumqi",
              "Asia/Ust-Nera",
              "Asia/Vientiane",
              "Asia/Vladivostok",
              "Asia/Yakutsk",
              "Asia/Yangon",
              "Asia/Yekaterinburg",
              "Asia/Yerevan",
              "Astana",
              "Athens",
              "Atlantic Time (Canada)",
              "Atlantic/Azores",
              "Atlantic/Bermuda",
              "Atlantic/Canary",
              "Atlantic/Cape_Verde",
              "Atlantic/Faeroe",
              "Atlantic/Faroe",
              "Atlantic/Jan_Mayen",
              "Atlantic/Madeira",
              "Atlantic/Reykjavik",
              "Atlantic/South_Georgia",
              "Atlantic/St_Helena",
              "Atlantic/Stanley",
              "Auckland",
              "Australia/ACT",
              "Australia/Adelaide",
              "Australia/Brisbane",
              "Australia/Broken_Hill",
              "Australia/Canberra",
              "Australia/Currie",
              "Australia/Darwin",
              "Australia/Eucla",
              "Australia/Hobart",
              "Australia/LHI",
              "Australia/Lindeman",
              "Australia/Lord_Howe",
              "Australia/Melbourne",
              "Australia/NSW",
              "Australia/North",
              "Australia/Perth",
              "Australia/Queensland",
              "Australia/South",
              "Australia/Sydney",
              "Australia/Tasmania",
              "Australia/Victoria",
              "Australia/West",
              "Australia/Yancowinna",
              "Azores",
              "Baghdad",
              "Baku",
              "Bangkok",
              "Beijing",
              "Belgrade",
              "Berlin",
              "Bern",
              "Bogota",
              "Brasilia",
              "Bratislava",
              "Brazil/Acre",
              "Brazil/DeNoronha",
              "Brazil/East",
              "Brazil/West",
              "Brisbane",
              "Brussels",
              "Bucharest",
              "Budapest",
              "Buenos Aires",
              "CET",
              "CST6CDT",
              "Cairo",
              "Canada/Atlantic",
              "Canada/Central",
              "Canada/Eastern",
              "Canada/Mountain",
              "Canada/Newfoundland",
              "Canada/Pacific",
              "Canada/Saskatchewan",
              "Canada/Yukon",
              "Canberra",
              "Cape Verde Is.",
              "Caracas",
              "Casablanca",
              "Central America",
              "Central Time (US & Canada)",
              "Chatham Is.",
              "Chennai",
              "Chihuahua",
              "Chile/Continental",
              "Chile/EasterIsland",
              "Chongqing",
              "Copenhagen",
              "Cuba",
              "Darwin",
              "Dhaka",
              "Dublin",
              "EET",
              "EST",
              "EST5EDT",
              "Eastern Time (US & Canada)",
              "Edinburgh",
              "Egypt",
              "Eire",
              "Ekaterinburg",
              "Etc/GMT",
              "Etc/GMT+0",
              "Etc/GMT+1",
              "Etc/GMT+10",
              "Etc/GMT+11",
              "Etc/GMT+12",
              "Etc/GMT+2",
              "Etc/GMT+3",
              "Etc/GMT+4",
              "Etc/GMT+5",
              "Etc/GMT+6",
              "Etc/GMT+7",
              "Etc/GMT+8",
              "Etc/GMT+9",
              "Etc/GMT-0",
              "Etc/GMT-1",
              "Etc/GMT-10",
              "Etc/GMT-11",
              "Etc/GMT-12",
              "Etc/GMT-13",
              "Etc/GMT-14",
              "Etc/GMT-2",
              "Etc/GMT-3",
              "Etc/GMT-4",
              "Etc/GMT-5",
              "Etc/GMT-6",
              "Etc/GMT-7",
              "Etc/GMT-8",
              "Etc/GMT-9",
              "Etc/GMT0",
              "Etc/Greenwich",
              "Etc/UCT",
              "Etc/UTC",
              "Etc/Universal",
              "Etc/Zulu",
              "Europe/Amsterdam",
              "Europe/Andorra",
              "Europe/Astrakhan",
              "Europe/Athens",
              "Europe/Belfast",
              "Europe/Belgrade",
              "Europe/Berlin",
              "Europe/Bratislava",
              "Europe/Brussels",
              "Europe/Bucharest",
              "Europe/Budapest",
              "Europe/Busingen",
              "Europe/Chisinau",
              "Europe/Copenhagen",
              "Europe/Dublin",
              "Europe/Gibraltar",
              "Europe/Guernsey",
              "Europe/Helsinki",
              "Europe/Isle_of_Man",
              "Europe/Istanbul",
              "Europe/Jersey",
              "Europe/Kaliningrad",
              "Europe/Kiev",
              "Europe/Kirov",
              "Europe/Lisbon",
              "Europe/Ljubljana",
              "Europe/London",
              "Europe/Luxembourg",
              "Europe/Madrid",
              "Europe/Malta",
              "Europe/Mariehamn",
              "Europe/Minsk",
              "Europe/Monaco",
              "Europe/Moscow",
              "Europe/Nicosia",
              "Europe/Oslo",
              "Europe/Paris",
              "Europe/Podgorica",
              "Europe/Prague",
              "Europe/Riga",
              "Europe/Rome",
              "Europe/Samara",
              "Europe/San_Marino",
              "Europe/Sarajevo",
              "Europe/Saratov",
              "Europe/Simferopol",
              "Europe/Skopje",
              "Europe/Sofia",
              "Europe/Stockholm",
              "Europe/Tallinn",
              "Europe/Tirane",
              "Europe/Tiraspol",
              "Europe/Ulyanovsk",
              "Europe/Uzhgorod",
              "Europe/Vaduz",
              "Europe/Vatican",
              "Europe/Vienna",
              "Europe/Vilnius",
              "Europe/Volgograd",
              "Europe/Warsaw",
              "Europe/Zagreb",
              "Europe/Zaporozhye",
              "Europe/Zurich",
              "Factory",
              "Fiji",
              "GB",
              "GB-Eire",
              "GMT",
              "GMT+0",
              "GMT-0",
              "GMT0",
              "Georgetown",
              "Greenland",
              "Greenwich",
              "Guadalajara",
              "Guam",
              "HST",
              "Hanoi",
              "Harare",
              "Hawaii",
              "Helsinki",
              "Hobart",
              "Hong Kong",
              "Hongkong",
              "Iceland",
              "Indian/Antananarivo",
              "Indian/Chagos",
              "Indian/Christmas",
              "Indian/Cocos",
              "Indian/Comoro",
              "Indian/Kerguelen",
              "Indian/Mahe",
              "Indian/Maldives",
              "Indian/Mauritius",
              "Indian/Mayotte",
              "Indian/Reunion",
              "Indiana (East)",
              "International Date Line West",
              "Iran",
              "Irkutsk",
              "Islamabad",
              "Israel",
              "Istanbul",
              "Jakarta",
              "Jamaica",
              "Japan",
              "Jerusalem",
              "Kabul",
              "Kaliningrad",
              "Kamchatka",
              "Karachi",
              "Kathmandu",
              "Kolkata",
              "Krasnoyarsk",
              "Kuala Lumpur",
              "Kuwait",
              "Kwajalein",
              "Kyiv",
              "La Paz",
              "Libya",
              "Lima",
              "Lisbon",
              "Ljubljana",
              "London",
              "MET",
              "MST",
              "MST7MDT",
              "Madrid",
              "Magadan",
              "Marshall Is.",
              "Mazatlan",
              "Melbourne",
              "Mexico City",
              "Mexico/BajaNorte",
              "Mexico/BajaSur",
              "Mexico/General",
              "Mid-Atlantic",
              "Midway Island",
              "Minsk",
              "Monrovia",
              "Monterrey",
              "Montevideo",
              "Moscow",
              "Mountain Time (US & Canada)",
              "Mumbai",
              "Muscat",
              "NZ",
              "NZ-CHAT",
              "Nairobi",
              "Navajo",
              "New Caledonia",
              "New Delhi",
              "Newfoundland",
              "Novosibirsk",
              "Nuku'alofa",
              "Osaka",
              "PRC",
              "PST8PDT",
              "Pacific Time (US & Canada)",
              "Pacific/Apia",
              "Pacific/Auckland",
              "Pacific/Bougainville",
              "Pacific/Chatham",
              "Pacific/Chuuk",
              "Pacific/Easter",
              "Pacific/Efate",
              "Pacific/Enderbury",
              "Pacific/Fakaofo",
              "Pacific/Fiji",
              "Pacific/Funafuti",
              "Pacific/Galapagos",
              "Pacific/Gambier",
              "Pacific/Guadalcanal",
              "Pacific/Guam",
              "Pacific/Honolulu",
              "Pacific/Johnston",
              "Pacific/Kiritimati",
              "Pacific/Kosrae",
              "Pacific/Kwajalein",
              "Pacific/Majuro",
              "Pacific/Marquesas",
              "Pacific/Midway",
              "Pacific/Nauru",
              "Pacific/Niue",
              "Pacific/Norfolk",
              "Pacific/Noumea",
              "Pacific/Pago_Pago",
              "Pacific/Palau",
              "Pacific/Pitcairn",
              "Pacific/Pohnpei",
              "Pacific/Ponape",
              "Pacific/Port_Moresby",
              "Pacific/Rarotonga",
              "Pacific/Saipan",
              "Pacific/Samoa",
              "Pacific/Tahiti",
              "Pacific/Tarawa",
              "Pacific/Tongatapu",
              "Pacific/Truk",
              "Pacific/Wake",
              "Pacific/Wallis",
              "Pacific/Yap",
              "Paris",
              "Perth",
              "Poland",
              "Port Moresby",
              "Portugal",
              "Prague",
              "Pretoria",
              "Puerto Rico",
              "Quito",
              "ROC",
              "ROK",
              "Rangoon",
              "Riga",
              "Riyadh",
              "Rome",
              "Samara",
              "Samoa",
              "Santiago",
              "Sapporo",
              "Sarajevo",
              "Saskatchewan",
              "Seoul",
              "Singapore",
              "Skopje",
              "Sofia",
              "Solomon Is.",
              "Srednekolymsk",
              "Sri Jayawardenepura",
              "St. Petersburg",
              "Stockholm",
              "Sydney",
              "Taipei",
              "Tallinn",
              "Tashkent",
              "Tbilisi",
              "Tehran",
              "Tijuana",
              "Tokelau Is.",
              "Tokyo",
              "Turkey",
              "UCT",
              "US/Alaska",
              "US/Aleutian",
              "US/Arizona",
              "US/Central",
              "US/East-Indiana",
              "US/Eastern",
              "US/Hawaii",
              "US/Indiana-Starke",
              "US/Michigan",
              "US/Mountain",
              "US/Pacific",
              "US/Pacific-New",
              "US/Samoa",
              "UTC",
              "Ulaanbaatar",
              "Universal",
              "Urumqi",
              "Vienna",
              "Vilnius",
              "Vladivostok",
              "Volgograd",
              "W-SU",
              "WET",
              "Warsaw",
              "Wellington",
              "West Central Africa",
              "Yakutsk",
              "Yerevan",
              "Zagreb",
              "Zulu",
              "Zurich"
            ]
          }
        },
        "additionalProperties": false,
        "required": ["address"]
      },
      "hlrCreateAddress": {
        "type": "object",
        "properties": {
          "zipCode5": {
            "type": "string",
            "pattern": "^[0-9]{5}$"
          }
        },
        "additionalProperties": false,
        "required": ["zipCode5"]
      },
      "hlrCreateIncluded": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/hlrCreateContestableIssue"
        },
        "minItems": 1,
        "uniqueItems": true
      },
      "hlrCreateContestableIssue": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": ["contestableIssue"]
          },
          "attributes": {
            "$ref": "#/components/schemas/hlrCreateContestableIssueAttributes"
          }
        },
        "additionalProperties": false,
        "required": ["type", "attributes"]
      },
      "hlrCreateContestableIssueAttributes": {
        "type": "object",
        "properties": {
          "issue": {
            "$ref": "#/components/schemas/nonBlankStringMaxLength140"
          },
          "decisionDate": {
            "$ref": "#/components/schemas/date"
          },
          "decisionIssueId": {
            "type": "integer"
          },
          "ratingIssueReferenceId": {
            "type": "string"
          },
          "ratingDecisionReferenceId": {
            "type": "string"
          }
        },
        "additionalProperties": false,
        "required": ["issue", "decisionDate"]
      }
    },
    "securitySchemes": {
      "apikey": {
        "type": "apiKey",
        "name": "apikey",
        "in": "header"
      }
    }
  },
  "paths": {
    "/higher_level_reviews": {
      "post": {
        "tags": ["Higher-Level Reviews"],
        "operationId": "postHigherLevelReviews",
        "summary": "Create a Higher-Level Review",
        "description": "Submits a Decision Review request of type *Higher-Level Review*. This endpoint is analogous to submitting [VA Form 20-0996](https://www.vba.va.gov/pubs/forms/VBA-20-0996-ARE.pdf) via mail or fax.",
        "parameters": [
          {
            "name": "X-VA-SSN",
            "in": "header",
            "description": "veteran's SSN",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/X-VA-SSN"
            }
          },
          {
            "name": "X-VA-First-Name",
            "in": "header",
            "description": "veteran's first name",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/X-VA-First-Name"
            }
          },
          {
            "name": "X-VA-Middle-Initial",
            "in": "header",
            "description": "veteran's middle initial",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/X-VA-Middle-Initial"
            }
          },
          {
            "name": "X-VA-Last-Name",
            "in": "header",
            "description": "veteran's last name",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/X-VA-Last-Name"
            }
          },
          {
            "name": "X-VA-Birth-Date",
            "in": "header",
            "description": "veteran's birth date",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/X-VA-Birth-Date"
            }
          },
          {
            "name": "X-VA-File-Number",
            "in": "header",
            "description": "veteran's file number",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/X-VA-File-Number"
            }
          },
          {
            "name": "X-VA-Service-Number",
            "in": "header",
            "description": "veteran's service number",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/X-VA-Service-Number"
            }
          },
          {
            "name": "X-VA-Insurance-Policy-Number",
            "in": "header",
            "description": "veteran's insurance policy number",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/X-VA-Insurance-Policy-Number"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/hlrCreate"
              },
              "examples": {
                "all fields used": {
                  "value": {
                    "data": {
                      "type": "higherLevelReview",
                      "attributes": {
                        "informalConference": true,
                        "sameOffice": true,
                        "benefitType": "compensation",
                        "veteran": {
                          "address": {
                            "zipCode5": "66002"
                          },
                          "phone": {
                            "countryCode": "34",
                            "areaCode": "555",
                            "phoneNumber": "8001111",
                            "phoneNumberExt": "2"
                          },
                          "emailAddressText": "josie@example.com",
                          "timezone": "America/Chicago"
                        },
                        "informalConferenceTimes": ["1230-1400 ET", "1400-1630 ET"],
                        "informalConferenceRep": {
                          "name": "Helen Holly",
                          "phone": {
                            "countryCode": "6",
                            "areaCode": "555",
                            "phoneNumber": "8001111",
                            "phoneNumberExt": "2"
                          }
                        }
                      }
                    },
                    "included": [
                      {
                        "type": "contestableIssue",
                        "attributes": {
                          "issue": "tinnitus",
                          "decisionDate": "1900-01-01",
                          "decisionIssueId": 1,
                          "ratingIssueReferenceId": "2",
                          "ratingDecisionReferenceId": "3"
                        }
                      },
                      {
                        "type": "contestableIssue",
                        "attributes": {
                          "issue": "left knee",
                          "decisionDate": "1900-01-02",
                          "decisionIssueId": 4,
                          "ratingIssueReferenceId": "5"
                        }
                      },
                      {
                        "type": "contestableIssue",
                        "attributes": {
                          "issue": "right knee",
                          "decisionDate": "1900-01-03",
                          "ratingIssueReferenceId": "6",
                          "ratingDecisionReferenceId": "7"
                        }
                      },
                      {
                        "type": "contestableIssue",
                        "attributes": {
                          "issue": "PTSD",
                          "decisionDate": "1900-01-04",
                          "decisionIssueId": 8,
                          "ratingDecisionReferenceId": "9"
                        }
                      },
                      {
                        "type": "contestableIssue",
                        "attributes": {
                          "issue": "Traumatic Brain Injury",
                          "decisionDate": "1900-01-05",
                          "decisionIssueId": 10
                        }
                      },
                      {
                        "type": "contestableIssue",
                        "attributes": {
                          "issue": "right shoulder",
                          "decisionDate": "1900-01-06"
                        }
                      }
                    ]
                  }
                },
                "minimum fields used": {
                  "value": {
                    "data": {
                      "type": "higherLevelReview",
                      "attributes": {
                        "informalConference": false,
                        "sameOffice": true,
                        "benefitType": "compensation",
                        "veteran": {
                          "address": {
                            "zipCode5": "66002"
                          }
                        }
                      }
                    },
                    "included": [
                      {
                        "type": "contestableIssue",
                        "attributes": {
                          "issue": "left shoulder",
                          "decisionDate": "1920-12-01"
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Info about a single Higher-Level Review",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "$ref": "#/components/schemas/uuid"
                    },
                    "type": {
                      "type": "string",
                      "enum": ["higherLevelReview"]
                    },
                    "attributes": {
                      "type": "object",
                      "properties": {
                        "status": {
                          "$ref": "#/components/schemas/hlrStatus"
                        },
                        "updatedAt": {
                          "$ref": "#/components/schemas/timeStamp"
                        },
                        "createdAt": {
                          "$ref": "#/components/schemas/timeStamp"
                        },
                        "formData": {
                          "$ref": "#/components/schemas/hlrCreate"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "HlrFound": {
                    "value": {
                      "data": {
                        "id": "1234567a-89b0-123c-d456-789e01234f56",
                        "type": "higherLevelReview",
                        "attributes": {
                          "status": "processing",
                          "updatedAt": "2020-04-23T21:06:12.531Z",
                          "createdAt": "2020-04-23T21:06:12.531Z",
                          "formData": {
                            "data": {
                              "type": "higherLevelReview",
                              "attributes": {
                                "informalConference": true,
                                "sameOffice": true,
                                "benefitType": "compensation",
                                "veteran": {
                                  "address": {
                                    "zipCode5": "66002"
                                  },
                                  "phone": {
                                    "countryCode": "34",
                                    "areaCode": "555",
                                    "phoneNumber": "8001111",
                                    "phoneNumberExt": "2"
                                  },
                                  "emailAddressText": "josie@example.com",
                                  "timezone": "America/Chicago"
                                },
                                "informalConferenceTimes": ["1230-1400 ET", "1400-1630 ET"],
                                "informalConferenceRep": {
                                  "name": "Helen Holly",
                                  "phone": {
                                    "countryCode": "6",
                                    "areaCode": "555",
                                    "phoneNumber": "8001111",
                                    "phoneNumberExt": "2"
                                  }
                                }
                              }
                            },
                            "included": [
                              {
                                "type": "contestableIssue",
                                "attributes": {
                                  "issue": "tinnitus",
                                  "decisionDate": "1900-01-01",
                                  "decisionIssueId": 1,
                                  "ratingIssueReferenceId": "2",
                                  "ratingDecisionReferenceId": "3"
                                }
                              },
                              {
                                "type": "contestableIssue",
                                "attributes": {
                                  "issue": "left knee",
                                  "decisionDate": "1900-01-02",
                                  "decisionIssueId": 4,
                                  "ratingIssueReferenceId": "5"
                                }
                              },
                              {
                                "type": "contestableIssue",
                                "attributes": {
                                  "issue": "right knee",
                                  "decisionDate": "1900-01-03",
                                  "ratingIssueReferenceId": "6",
                                  "ratingDecisionReferenceId": "7"
                                }
                              },
                              {
                                "type": "contestableIssue",
                                "attributes": {
                                  "issue": "PTSD",
                                  "decisionDate": "1900-01-04",
                                  "decisionIssueId": 8,
                                  "ratingDecisionReferenceId": "9"
                                }
                              },
                              {
                                "type": "contestableIssue",
                                "attributes": {
                                  "issue": "Traumatic Brain Injury",
                                  "decisionDate": "1900-01-05",
                                  "decisionIssueId": 10
                                }
                              },
                              {
                                "type": "contestableIssue",
                                "attributes": {
                                  "issue": "right shoulder",
                                  "decisionDate": "1900-01-06"
                                }
                              }
                            ]
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Error",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "minItems": 1,
                      "maxItems": 1,
                      "items": {
                        "type": "object",
                        "properties": {
                          "status": {
                            "type": "integer"
                          },
                          "detail": {
                            "type": "string"
                          },
                          "source": {
                            "oneOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "boolean",
                                "enum": [false]
                              }
                            ]
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "notJsonObject": {
                    "value": {
                      "errors": [
                        {
                          "status": 422,
                          "detail": "The request body isn't a JSON object: 9873",
                          "source": false
                        }
                      ]
                    }
                  },
                  "violatesJsonSchema": {
                    "value": {
                      "errors": [
                        {
                          "status": 422,
                          "detail": "The property /data/attributes did not contain the required key benefitType",
                          "source": "/data/attributes"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "apikey": []
          }
        ]
      }
    },
    "/higher_level_reviews/{uuid}": {
      "get": {
        "tags": ["Higher-Level Reviews"],
        "operationId": "getHigherLevelReview",
        "summary": "Show a Higher-Level Review",
        "description": "Returns all of the data associated with a specific Higher-Level Review",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "description": "Higher-Level Review UUID",
            "schema": {
              "$ref": "#/components/schemas/uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Info about a single Higher-Level Review",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "$ref": "#/components/schemas/uuid"
                    },
                    "type": {
                      "type": "string",
                      "enum": ["higherLevelReview"]
                    },
                    "attributes": {
                      "type": "object",
                      "properties": {
                        "status": {
                          "$ref": "#/components/schemas/hlrStatus"
                        },
                        "updatedAt": {
                          "$ref": "#/components/schemas/timeStamp"
                        },
                        "createdAt": {
                          "$ref": "#/components/schemas/timeStamp"
                        },
                        "formData": {
                          "$ref": "#/components/schemas/hlrCreate"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "HlrFound": {
                    "value": {
                      "data": {
                        "id": "1234567a-89b0-123c-d456-789e01234f56",
                        "type": "higherLevelReview",
                        "attributes": {
                          "status": "processing",
                          "updatedAt": "2020-04-23T21:06:12.531Z",
                          "createdAt": "2020-04-23T21:06:12.531Z",
                          "formData": {
                            "data": {
                              "type": "higherLevelReview",
                              "attributes": {
                                "informalConference": true,
                                "sameOffice": true,
                                "benefitType": "compensation",
                                "veteran": {
                                  "address": {
                                    "zipCode5": "66002"
                                  },
                                  "phone": {
                                    "countryCode": "34",
                                    "areaCode": "555",
                                    "phoneNumber": "8001111",
                                    "phoneNumberExt": "2"
                                  },
                                  "emailAddressText": "josie@example.com",
                                  "timezone": "America/Chicago"
                                },
                                "informalConferenceTimes": ["1230-1400 ET", "1400-1630 ET"],
                                "informalConferenceRep": {
                                  "name": "Helen Holly",
                                  "phone": {
                                    "countryCode": "6",
                                    "areaCode": "555",
                                    "phoneNumber": "8001111",
                                    "phoneNumberExt": "2"
                                  }
                                }
                              }
                            },
                            "included": [
                              {
                                "type": "contestableIssue",
                                "attributes": {
                                  "issue": "tinnitus",
                                  "decisionDate": "1900-01-01",
                                  "decisionIssueId": 1,
                                  "ratingIssueReferenceId": "2",
                                  "ratingDecisionReferenceId": "3"
                                }
                              },
                              {
                                "type": "contestableIssue",
                                "attributes": {
                                  "issue": "left knee",
                                  "decisionDate": "1900-01-02",
                                  "decisionIssueId": 4,
                                  "ratingIssueReferenceId": "5"
                                }
                              },
                              {
                                "type": "contestableIssue",
                                "attributes": {
                                  "issue": "right knee",
                                  "decisionDate": "1900-01-03",
                                  "ratingIssueReferenceId": "6",
                                  "ratingDecisionReferenceId": "7"
                                }
                              },
                              {
                                "type": "contestableIssue",
                                "attributes": {
                                  "issue": "PTSD",
                                  "decisionDate": "1900-01-04",
                                  "decisionIssueId": 8,
                                  "ratingDecisionReferenceId": "9"
                                }
                              },
                              {
                                "type": "contestableIssue",
                                "attributes": {
                                  "issue": "Traumatic Brain Injury",
                                  "decisionDate": "1900-01-05",
                                  "decisionIssueId": 10
                                }
                              },
                              {
                                "type": "contestableIssue",
                                "attributes": {
                                  "issue": "right shoulder",
                                  "decisionDate": "1900-01-06"
                                }
                              }
                            ]
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Higher-Level Review not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "status": {
                            "type": "integer",
                            "enum": [404]
                          },
                          "detail": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "HlrNotFound": {
                    "value": {
                      "errors": [
                        {
                          "status": 404,
                          "detail": "HigherLevelReview with uuid nil not found."
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "apikey": []
          }
        ]
      }
    },
    "/higher_level_reviews/schema": {
      "get": {
        "tags": ["Higher-Level Reviews"],
        "operationId": "getHigherLevelReviewSchema",
        "summary": "Return the JSON Schema for POST /higher_level_reviews",
        "description": "Returns the [JSON Schema](https://json-schema.org/) for the `POST /higher_level_reviews` enpdoint.",
        "responses": {
          "200": {
            "description": "the JSON Schema for POST /higher_level_reviews",
            "content": {
              "application/json": {
                "examples": {
                  "default": {
                    "value": "{\n  \"$schema\": \"http://json-schema.org/draft-07/schema#\",\n  \"description\": \"JSON Schema for VA Form 20-0996\",\n  \"$ref\": \"#/definitions/hlrCreate\",\n  \"definitions\": {\n    \"nonBlankString\": {\n      \"type\": \"string\",\n      \"pattern\": \"[^ \\\\f\\\\n\\\\r\\\\t\\\\v\\\\u00a0\\\\u1680\\\\u2000-\\\\u200a\\\\u2028\\\\u2029\\\\u202f\\\\u205f\\\\u3000\\\\ufeff]\"\n    },\n    \"nonBlankStringMaxLength140\": {\n      \"allOf\": [\n        {\n          \"$ref\": \"#/definitions/nonBlankString\"\n        },\n        {\n          \"maxLength\": 140\n        }\n      ]\n    },\n    \"date\": {\n      \"type\": \"string\",\n      \"pattern\": \"^[0-9]{4}-[0-9]{2}-[0-9]{2}$\"\n    },\n    \"hlrCreate\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"data\": {\n          \"$ref\": \"#/definitions/hlrCreateData\"\n        },\n        \"included\": {\n          \"$ref\": \"#/definitions/hlrCreateIncluded\"\n        }\n      },\n      \"additionalProperties\": false,\n      \"required\": [\n        \"data\",\n        \"included\"\n      ]\n    },\n    \"hlrCreateData\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"type\": {\n          \"type\": \"string\",\n          \"enum\": [\n            \"higherLevelReview\"\n          ]\n        },\n        \"attributes\": {\n          \"$ref\": \"#/definitions/hlrCreateDataAttributes\"\n        }\n      },\n      \"additionalProperties\": false,\n      \"required\": [\n        \"type\",\n        \"attributes\"\n      ]\n    },\n    \"hlrCreateDataAttributes\": {\n      \"description\": \"If informal conference requested (`informalConference: true`), availability must be specified (`informalConferenceTimes`). Explanation of abbreviated benefit types: `pension`: Pension / Survivor's Benefits, `voc_rehab`: Vocational Rehabilitation and Employment, `vha`: Veterans Health Administration, `nca`: National Cemetery Administration\",\n      \"oneOf\": [\n        {\n          \"type\": \"object\",\n          \"properties\": {\n            \"informalConference\": {\n              \"type\": \"boolean\",\n              \"enum\": [\n                false\n              ]\n            },\n            \"sameOffice\": {\n              \"type\": \"boolean\"\n            },\n            \"benefitType\": {\n              \"$ref\": \"#/definitions/hlrCreateBenefitType\"\n            },\n            \"veteran\": {\n              \"$ref\": \"#/definitions/hlrCreateVeteran\"\n            }\n          },\n          \"additionalProperties\": false,\n          \"required\": [\n            \"informalConference\",\n            \"sameOffice\",\n            \"benefitType\",\n            \"veteran\"\n          ]\n        },\n        {\n          \"type\": \"object\",\n          \"properties\": {\n            \"informalConference\": {\n              \"type\": \"boolean\",\n              \"enum\": [\n                true\n              ]\n            },\n            \"sameOffice\": {\n              \"type\": \"boolean\"\n            },\n            \"benefitType\": {\n              \"$ref\": \"#/definitions/hlrCreateBenefitType\"\n            },\n            \"veteran\": {\n              \"$ref\": \"#/definitions/hlrCreateVeteran\"\n            },\n            \"informalConferenceTimes\": {\n              \"$ref\": \"#/definitions/hlrCreateInformalConferenceTimes\"\n            },\n            \"informalConferenceRep\": {\n              \"$ref\": \"#/definitions/hlrCreateInformalConferenceRep\"\n            }\n          },\n          \"additionalProperties\": false,\n          \"required\": [\n            \"informalConference\",\n            \"sameOffice\",\n            \"benefitType\",\n            \"veteran\",\n            \"informalConferenceTimes\"\n          ]\n        }\n      ]\n    },\n    \"hlrCreateBenefitType\": {\n      \"type\": \"string\",\n      \"enum\": [\n        \"compensation\"\n      ]\n    },\n    \"hlrCreateInformalConferenceTimes\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"$ref\": \"#/definitions/hlrCreateInformalConferenceTime\"\n      },\n      \"minItems\": 1,\n      \"maxItems\": 2,\n      \"uniqueItems\": true\n    },\n    \"hlrCreateInformalConferenceTime\": {\n      \"type\": \"string\",\n      \"description\": \"time ranges in Eastern Time\",\n      \"enum\": [\n        \"800-1000 ET\",\n        \"1000-1230 ET\",\n        \"1230-1400 ET\",\n        \"1400-1630 ET\"\n      ]\n    },\n    \"hlrCreateInformalConferenceRep\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"name\": {\n          \"$ref\": \"#/definitions/nonBlankString\"\n        },\n        \"phone\": {\n          \"$ref\": \"#/definitions/hlrCreatePhone\"\n        }\n      },\n      \"additionalProperties\": false,\n      \"required\": [\n        \"name\",\n        \"phone\"\n      ]\n    },\n    \"hlrCreatePhone\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"countryCode\": {\n          \"type\": \"string\",\n          \"pattern\": \"^[0-9]+$\"\n        },\n        \"areaCode\": {\n          \"type\": \"string\",\n          \"pattern\": \"^[2-9][0-9]{2}$\"\n        },\n        \"phoneNumber\": {\n          \"type\": \"string\",\n          \"pattern\": \"^[0-9]{1,14}$\"\n        },\n        \"phoneNumberExt\": {\n          \"type\": \"string\",\n          \"pattern\": \"^[a-zA-Z0-9]{1,10}$\"\n        }\n      },\n      \"required\": [\n        \"areaCode\",\n        \"phoneNumber\"\n      ]\n    },\n    \"hlrCreateVeteran\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"address\": {\n          \"$ref\": \"#/definitions/hlrCreateAddress\"\n        },\n        \"phone\": {\n          \"$ref\": \"#/definitions/hlrCreatePhone\"\n        },\n        \"emailAddressText\": {\n          \"type\": \"string\",\n          \"pattern\": \".@.\",\n          \"maxLength\": 44\n        },\n        \"timezone\": {\n          \"type\": \"string\",\n          \"description\": \"Veteran's timezone (either [IANA](https://en.wikipedia.org/wiki/List_of_tz_database_time_zones) or [Rails](https://github.com/rails/rails/blob/master/activesupport/lib/active_support/values/time_zone.rb) style). Used for adding the current date to the signature according to the veteran's local time. If not specified, the current UTC date will be used for the signature (which may be ahead or behind the local date).\",\n          \"enum\": [\n            \"Abu Dhabi\",\n            \"Adelaide\",\n            \"Africa/Abidjan\",\n            \"Africa/Accra\",\n            \"Africa/Addis_Ababa\",\n            \"Africa/Algiers\",\n            \"Africa/Asmara\",\n            \"Africa/Asmera\",\n            \"Africa/Bamako\",\n            \"Africa/Bangui\",\n            \"Africa/Banjul\",\n            \"Africa/Bissau\",\n            \"Africa/Blantyre\",\n            \"Africa/Brazzaville\",\n            \"Africa/Bujumbura\",\n            \"Africa/Cairo\",\n            \"Africa/Casablanca\",\n            \"Africa/Ceuta\",\n            \"Africa/Conakry\",\n            \"Africa/Dakar\",\n            \"Africa/Dar_es_Salaam\",\n            \"Africa/Djibouti\",\n            \"Africa/Douala\",\n            \"Africa/El_Aaiun\",\n            \"Africa/Freetown\",\n            \"Africa/Gaborone\",\n            \"Africa/Harare\",\n            \"Africa/Johannesburg\",\n            \"Africa/Juba\",\n            \"Africa/Kampala\",\n            \"Africa/Khartoum\",\n            \"Africa/Kigali\",\n            \"Africa/Kinshasa\",\n            \"Africa/Lagos\",\n            \"Africa/Libreville\",\n            \"Africa/Lome\",\n            \"Africa/Luanda\",\n            \"Africa/Lubumbashi\",\n            \"Africa/Lusaka\",\n            \"Africa/Malabo\",\n            \"Africa/Maputo\",\n            \"Africa/Maseru\",\n            \"Africa/Mbabane\",\n            \"Africa/Mogadishu\",\n            \"Africa/Monrovia\",\n            \"Africa/Nairobi\",\n            \"Africa/Ndjamena\",\n            \"Africa/Niamey\",\n            \"Africa/Nouakchott\",\n            \"Africa/Ouagadougou\",\n            \"Africa/Porto-Novo\",\n            \"Africa/Sao_Tome\",\n            \"Africa/Timbuktu\",\n            \"Africa/Tripoli\",\n            \"Africa/Tunis\",\n            \"Africa/Windhoek\",\n            \"Alaska\",\n            \"Almaty\",\n            \"America/Adak\",\n            \"America/Anchorage\",\n            \"America/Anguilla\",\n            \"America/Antigua\",\n            \"America/Araguaina\",\n            \"America/Argentina/Buenos_Aires\",\n            \"America/Argentina/Catamarca\",\n            \"America/Argentina/ComodRivadavia\",\n            \"America/Argentina/Cordoba\",\n            \"America/Argentina/Jujuy\",\n            \"America/Argentina/La_Rioja\",\n            \"America/Argentina/Mendoza\",\n            \"America/Argentina/Rio_Gallegos\",\n            \"America/Argentina/Salta\",\n            \"America/Argentina/San_Juan\",\n            \"America/Argentina/San_Luis\",\n            \"America/Argentina/Tucuman\",\n            \"America/Argentina/Ushuaia\",\n            \"America/Aruba\",\n            \"America/Asuncion\",\n            \"America/Atikokan\",\n            \"America/Atka\",\n            \"America/Bahia\",\n            \"America/Bahia_Banderas\",\n            \"America/Barbados\",\n            \"America/Belem\",\n            \"America/Belize\",\n            \"America/Blanc-Sablon\",\n            \"America/Boa_Vista\",\n            \"America/Bogota\",\n            \"America/Boise\",\n            \"America/Buenos_Aires\",\n            \"America/Cambridge_Bay\",\n            \"America/Campo_Grande\",\n            \"America/Cancun\",\n            \"America/Caracas\",\n            \"America/Catamarca\",\n            \"America/Cayenne\",\n            \"America/Cayman\",\n            \"America/Chicago\",\n            \"America/Chihuahua\",\n            \"America/Coral_Harbour\",\n            \"America/Cordoba\",\n            \"America/Costa_Rica\",\n            \"America/Creston\",\n            \"America/Cuiaba\",\n            \"America/Curacao\",\n            \"America/Danmarkshavn\",\n            \"America/Dawson\",\n            \"America/Dawson_Creek\",\n            \"America/Denver\",\n            \"America/Detroit\",\n            \"America/Dominica\",\n            \"America/Edmonton\",\n            \"America/Eirunepe\",\n            \"America/El_Salvador\",\n            \"America/Ensenada\",\n            \"America/Fort_Nelson\",\n            \"America/Fort_Wayne\",\n            \"America/Fortaleza\",\n            \"America/Glace_Bay\",\n            \"America/Godthab\",\n            \"America/Goose_Bay\",\n            \"America/Grand_Turk\",\n            \"America/Grenada\",\n            \"America/Guadeloupe\",\n            \"America/Guatemala\",\n            \"America/Guayaquil\",\n            \"America/Guyana\",\n            \"America/Halifax\",\n            \"America/Havana\",\n            \"America/Hermosillo\",\n            \"America/Indiana/Indianapolis\",\n            \"America/Indiana/Knox\",\n            \"America/Indiana/Marengo\",\n            \"America/Indiana/Petersburg\",\n            \"America/Indiana/Tell_City\",\n            \"America/Indiana/Vevay\",\n            \"America/Indiana/Vincennes\",\n            \"America/Indiana/Winamac\",\n            \"America/Indianapolis\",\n            \"America/Inuvik\",\n            \"America/Iqaluit\",\n            \"America/Jamaica\",\n            \"America/Jujuy\",\n            \"America/Juneau\",\n            \"America/Kentucky/Louisville\",\n            \"America/Kentucky/Monticello\",\n            \"America/Knox_IN\",\n            \"America/Kralendijk\",\n            \"America/La_Paz\",\n            \"America/Lima\",\n            \"America/Los_Angeles\",\n            \"America/Louisville\",\n            \"America/Lower_Princes\",\n            \"America/Maceio\",\n            \"America/Managua\",\n            \"America/Manaus\",\n            \"America/Marigot\",\n            \"America/Martinique\",\n            \"America/Matamoros\",\n            \"America/Mazatlan\",\n            \"America/Mendoza\",\n            \"America/Menominee\",\n            \"America/Merida\",\n            \"America/Metlakatla\",\n            \"America/Mexico_City\",\n            \"America/Miquelon\",\n            \"America/Moncton\",\n            \"America/Monterrey\",\n            \"America/Montevideo\",\n            \"America/Montreal\",\n            \"America/Montserrat\",\n            \"America/Nassau\",\n            \"America/New_York\",\n            \"America/Nipigon\",\n            \"America/Nome\",\n            \"America/Noronha\",\n            \"America/North_Dakota/Beulah\",\n            \"America/North_Dakota/Center\",\n            \"America/North_Dakota/New_Salem\",\n            \"America/Ojinaga\",\n            \"America/Panama\",\n            \"America/Pangnirtung\",\n            \"America/Paramaribo\",\n            \"America/Phoenix\",\n            \"America/Port-au-Prince\",\n            \"America/Port_of_Spain\",\n            \"America/Porto_Acre\",\n            \"America/Porto_Velho\",\n            \"America/Puerto_Rico\",\n            \"America/Punta_Arenas\",\n            \"America/Rainy_River\",\n            \"America/Rankin_Inlet\",\n            \"America/Recife\",\n            \"America/Regina\",\n            \"America/Resolute\",\n            \"America/Rio_Branco\",\n            \"America/Rosario\",\n            \"America/Santa_Isabel\",\n            \"America/Santarem\",\n            \"America/Santiago\",\n            \"America/Santo_Domingo\",\n            \"America/Sao_Paulo\",\n            \"America/Scoresbysund\",\n            \"America/Shiprock\",\n            \"America/Sitka\",\n            \"America/St_Barthelemy\",\n            \"America/St_Johns\",\n            \"America/St_Kitts\",\n            \"America/St_Lucia\",\n            \"America/St_Thomas\",\n            \"America/St_Vincent\",\n            \"America/Swift_Current\",\n            \"America/Tegucigalpa\",\n            \"America/Thule\",\n            \"America/Thunder_Bay\",\n            \"America/Tijuana\",\n            \"America/Toronto\",\n            \"America/Tortola\",\n            \"America/Vancouver\",\n            \"America/Virgin\",\n            \"America/Whitehorse\",\n            \"America/Winnipeg\",\n            \"America/Yakutat\",\n            \"America/Yellowknife\",\n            \"American Samoa\",\n            \"Amsterdam\",\n            \"Antarctica/Casey\",\n            \"Antarctica/Davis\",\n            \"Antarctica/DumontDUrville\",\n            \"Antarctica/Macquarie\",\n            \"Antarctica/Mawson\",\n            \"Antarctica/McMurdo\",\n            \"Antarctica/Palmer\",\n            \"Antarctica/Rothera\",\n            \"Antarctica/South_Pole\",\n            \"Antarctica/Syowa\",\n            \"Antarctica/Troll\",\n            \"Antarctica/Vostok\",\n            \"Arctic/Longyearbyen\",\n            \"Arizona\",\n            \"Asia/Aden\",\n            \"Asia/Almaty\",\n            \"Asia/Amman\",\n            \"Asia/Anadyr\",\n            \"Asia/Aqtau\",\n            \"Asia/Aqtobe\",\n            \"Asia/Ashgabat\",\n            \"Asia/Ashkhabad\",\n            \"Asia/Atyrau\",\n            \"Asia/Baghdad\",\n            \"Asia/Bahrain\",\n            \"Asia/Baku\",\n            \"Asia/Bangkok\",\n            \"Asia/Barnaul\",\n            \"Asia/Beirut\",\n            \"Asia/Bishkek\",\n            \"Asia/Brunei\",\n            \"Asia/Calcutta\",\n            \"Asia/Chita\",\n            \"Asia/Choibalsan\",\n            \"Asia/Chongqing\",\n            \"Asia/Chungking\",\n            \"Asia/Colombo\",\n            \"Asia/Dacca\",\n            \"Asia/Damascus\",\n            \"Asia/Dhaka\",\n            \"Asia/Dili\",\n            \"Asia/Dubai\",\n            \"Asia/Dushanbe\",\n            \"Asia/Famagusta\",\n            \"Asia/Gaza\",\n            \"Asia/Harbin\",\n            \"Asia/Hebron\",\n            \"Asia/Ho_Chi_Minh\",\n            \"Asia/Hong_Kong\",\n            \"Asia/Hovd\",\n            \"Asia/Irkutsk\",\n            \"Asia/Istanbul\",\n            \"Asia/Jakarta\",\n            \"Asia/Jayapura\",\n            \"Asia/Jerusalem\",\n            \"Asia/Kabul\",\n            \"Asia/Kamchatka\",\n            \"Asia/Karachi\",\n            \"Asia/Kashgar\",\n            \"Asia/Kathmandu\",\n            \"Asia/Katmandu\",\n            \"Asia/Khandyga\",\n            \"Asia/Kolkata\",\n            \"Asia/Krasnoyarsk\",\n            \"Asia/Kuala_Lumpur\",\n            \"Asia/Kuching\",\n            \"Asia/Kuwait\",\n            \"Asia/Macao\",\n            \"Asia/Macau\",\n            \"Asia/Magadan\",\n            \"Asia/Makassar\",\n            \"Asia/Manila\",\n            \"Asia/Muscat\",\n            \"Asia/Nicosia\",\n            \"Asia/Novokuznetsk\",\n            \"Asia/Novosibirsk\",\n            \"Asia/Omsk\",\n            \"Asia/Oral\",\n            \"Asia/Phnom_Penh\",\n            \"Asia/Pontianak\",\n            \"Asia/Pyongyang\",\n            \"Asia/Qatar\",\n            \"Asia/Qostanay\",\n            \"Asia/Qyzylorda\",\n            \"Asia/Rangoon\",\n            \"Asia/Riyadh\",\n            \"Asia/Saigon\",\n            \"Asia/Sakhalin\",\n            \"Asia/Samarkand\",\n            \"Asia/Seoul\",\n            \"Asia/Shanghai\",\n            \"Asia/Singapore\",\n            \"Asia/Srednekolymsk\",\n            \"Asia/Taipei\",\n            \"Asia/Tashkent\",\n            \"Asia/Tbilisi\",\n            \"Asia/Tehran\",\n            \"Asia/Tel_Aviv\",\n            \"Asia/Thimbu\",\n            \"Asia/Thimphu\",\n            \"Asia/Tokyo\",\n            \"Asia/Tomsk\",\n            \"Asia/Ujung_Pandang\",\n            \"Asia/Ulaanbaatar\",\n            \"Asia/Ulan_Bator\",\n            \"Asia/Urumqi\",\n            \"Asia/Ust-Nera\",\n            \"Asia/Vientiane\",\n            \"Asia/Vladivostok\",\n            \"Asia/Yakutsk\",\n            \"Asia/Yangon\",\n            \"Asia/Yekaterinburg\",\n            \"Asia/Yerevan\",\n            \"Astana\",\n            \"Athens\",\n            \"Atlantic Time (Canada)\",\n            \"Atlantic/Azores\",\n            \"Atlantic/Bermuda\",\n            \"Atlantic/Canary\",\n            \"Atlantic/Cape_Verde\",\n            \"Atlantic/Faeroe\",\n            \"Atlantic/Faroe\",\n            \"Atlantic/Jan_Mayen\",\n            \"Atlantic/Madeira\",\n            \"Atlantic/Reykjavik\",\n            \"Atlantic/South_Georgia\",\n            \"Atlantic/St_Helena\",\n            \"Atlantic/Stanley\",\n            \"Auckland\",\n            \"Australia/ACT\",\n            \"Australia/Adelaide\",\n            \"Australia/Brisbane\",\n            \"Australia/Broken_Hill\",\n            \"Australia/Canberra\",\n            \"Australia/Currie\",\n            \"Australia/Darwin\",\n            \"Australia/Eucla\",\n            \"Australia/Hobart\",\n            \"Australia/LHI\",\n            \"Australia/Lindeman\",\n            \"Australia/Lord_Howe\",\n            \"Australia/Melbourne\",\n            \"Australia/NSW\",\n            \"Australia/North\",\n            \"Australia/Perth\",\n            \"Australia/Queensland\",\n            \"Australia/South\",\n            \"Australia/Sydney\",\n            \"Australia/Tasmania\",\n            \"Australia/Victoria\",\n            \"Australia/West\",\n            \"Australia/Yancowinna\",\n            \"Azores\",\n            \"Baghdad\",\n            \"Baku\",\n            \"Bangkok\",\n            \"Beijing\",\n            \"Belgrade\",\n            \"Berlin\",\n            \"Bern\",\n            \"Bogota\",\n            \"Brasilia\",\n            \"Bratislava\",\n            \"Brazil/Acre\",\n            \"Brazil/DeNoronha\",\n            \"Brazil/East\",\n            \"Brazil/West\",\n            \"Brisbane\",\n            \"Brussels\",\n            \"Bucharest\",\n            \"Budapest\",\n            \"Buenos Aires\",\n            \"CET\",\n            \"CST6CDT\",\n            \"Cairo\",\n            \"Canada/Atlantic\",\n            \"Canada/Central\",\n            \"Canada/Eastern\",\n            \"Canada/Mountain\",\n            \"Canada/Newfoundland\",\n            \"Canada/Pacific\",\n            \"Canada/Saskatchewan\",\n            \"Canada/Yukon\",\n            \"Canberra\",\n            \"Cape Verde Is.\",\n            \"Caracas\",\n            \"Casablanca\",\n            \"Central America\",\n            \"Central Time (US & Canada)\",\n            \"Chatham Is.\",\n            \"Chennai\",\n            \"Chihuahua\",\n            \"Chile/Continental\",\n            \"Chile/EasterIsland\",\n            \"Chongqing\",\n            \"Copenhagen\",\n            \"Cuba\",\n            \"Darwin\",\n            \"Dhaka\",\n            \"Dublin\",\n            \"EET\",\n            \"EST\",\n            \"EST5EDT\",\n            \"Eastern Time (US & Canada)\",\n            \"Edinburgh\",\n            \"Egypt\",\n            \"Eire\",\n            \"Ekaterinburg\",\n            \"Etc/GMT\",\n            \"Etc/GMT+0\",\n            \"Etc/GMT+1\",\n            \"Etc/GMT+10\",\n            \"Etc/GMT+11\",\n            \"Etc/GMT+12\",\n            \"Etc/GMT+2\",\n            \"Etc/GMT+3\",\n            \"Etc/GMT+4\",\n            \"Etc/GMT+5\",\n            \"Etc/GMT+6\",\n            \"Etc/GMT+7\",\n            \"Etc/GMT+8\",\n            \"Etc/GMT+9\",\n            \"Etc/GMT-0\",\n            \"Etc/GMT-1\",\n            \"Etc/GMT-10\",\n            \"Etc/GMT-11\",\n            \"Etc/GMT-12\",\n            \"Etc/GMT-13\",\n            \"Etc/GMT-14\",\n            \"Etc/GMT-2\",\n            \"Etc/GMT-3\",\n            \"Etc/GMT-4\",\n            \"Etc/GMT-5\",\n            \"Etc/GMT-6\",\n            \"Etc/GMT-7\",\n            \"Etc/GMT-8\",\n            \"Etc/GMT-9\",\n            \"Etc/GMT0\",\n            \"Etc/Greenwich\",\n            \"Etc/UCT\",\n            \"Etc/UTC\",\n            \"Etc/Universal\",\n            \"Etc/Zulu\",\n            \"Europe/Amsterdam\",\n            \"Europe/Andorra\",\n            \"Europe/Astrakhan\",\n            \"Europe/Athens\",\n            \"Europe/Belfast\",\n            \"Europe/Belgrade\",\n            \"Europe/Berlin\",\n            \"Europe/Bratislava\",\n            \"Europe/Brussels\",\n            \"Europe/Bucharest\",\n            \"Europe/Budapest\",\n            \"Europe/Busingen\",\n            \"Europe/Chisinau\",\n            \"Europe/Copenhagen\",\n            \"Europe/Dublin\",\n            \"Europe/Gibraltar\",\n            \"Europe/Guernsey\",\n            \"Europe/Helsinki\",\n            \"Europe/Isle_of_Man\",\n            \"Europe/Istanbul\",\n            \"Europe/Jersey\",\n            \"Europe/Kaliningrad\",\n            \"Europe/Kiev\",\n            \"Europe/Kirov\",\n            \"Europe/Lisbon\",\n            \"Europe/Ljubljana\",\n            \"Europe/London\",\n            \"Europe/Luxembourg\",\n            \"Europe/Madrid\",\n            \"Europe/Malta\",\n            \"Europe/Mariehamn\",\n            \"Europe/Minsk\",\n            \"Europe/Monaco\",\n            \"Europe/Moscow\",\n            \"Europe/Nicosia\",\n            \"Europe/Oslo\",\n            \"Europe/Paris\",\n            \"Europe/Podgorica\",\n            \"Europe/Prague\",\n            \"Europe/Riga\",\n            \"Europe/Rome\",\n            \"Europe/Samara\",\n            \"Europe/San_Marino\",\n            \"Europe/Sarajevo\",\n            \"Europe/Saratov\",\n            \"Europe/Simferopol\",\n            \"Europe/Skopje\",\n            \"Europe/Sofia\",\n            \"Europe/Stockholm\",\n            \"Europe/Tallinn\",\n            \"Europe/Tirane\",\n            \"Europe/Tiraspol\",\n            \"Europe/Ulyanovsk\",\n            \"Europe/Uzhgorod\",\n            \"Europe/Vaduz\",\n            \"Europe/Vatican\",\n            \"Europe/Vienna\",\n            \"Europe/Vilnius\",\n            \"Europe/Volgograd\",\n            \"Europe/Warsaw\",\n            \"Europe/Zagreb\",\n            \"Europe/Zaporozhye\",\n            \"Europe/Zurich\",\n            \"Factory\",\n            \"Fiji\",\n            \"GB\",\n            \"GB-Eire\",\n            \"GMT\",\n            \"GMT+0\",\n            \"GMT-0\",\n            \"GMT0\",\n            \"Georgetown\",\n            \"Greenland\",\n            \"Greenwich\",\n            \"Guadalajara\",\n            \"Guam\",\n            \"HST\",\n            \"Hanoi\",\n            \"Harare\",\n            \"Hawaii\",\n            \"Helsinki\",\n            \"Hobart\",\n            \"Hong Kong\",\n            \"Hongkong\",\n            \"Iceland\",\n            \"Indian/Antananarivo\",\n            \"Indian/Chagos\",\n            \"Indian/Christmas\",\n            \"Indian/Cocos\",\n            \"Indian/Comoro\",\n            \"Indian/Kerguelen\",\n            \"Indian/Mahe\",\n            \"Indian/Maldives\",\n            \"Indian/Mauritius\",\n            \"Indian/Mayotte\",\n            \"Indian/Reunion\",\n            \"Indiana (East)\",\n            \"International Date Line West\",\n            \"Iran\",\n            \"Irkutsk\",\n            \"Islamabad\",\n            \"Israel\",\n            \"Istanbul\",\n            \"Jakarta\",\n            \"Jamaica\",\n            \"Japan\",\n            \"Jerusalem\",\n            \"Kabul\",\n            \"Kaliningrad\",\n            \"Kamchatka\",\n            \"Karachi\",\n            \"Kathmandu\",\n            \"Kolkata\",\n            \"Krasnoyarsk\",\n            \"Kuala Lumpur\",\n            \"Kuwait\",\n            \"Kwajalein\",\n            \"Kyiv\",\n            \"La Paz\",\n            \"Libya\",\n            \"Lima\",\n            \"Lisbon\",\n            \"Ljubljana\",\n            \"London\",\n            \"MET\",\n            \"MST\",\n            \"MST7MDT\",\n            \"Madrid\",\n            \"Magadan\",\n            \"Marshall Is.\",\n            \"Mazatlan\",\n            \"Melbourne\",\n            \"Mexico City\",\n            \"Mexico/BajaNorte\",\n            \"Mexico/BajaSur\",\n            \"Mexico/General\",\n            \"Mid-Atlantic\",\n            \"Midway Island\",\n            \"Minsk\",\n            \"Monrovia\",\n            \"Monterrey\",\n            \"Montevideo\",\n            \"Moscow\",\n            \"Mountain Time (US & Canada)\",\n            \"Mumbai\",\n            \"Muscat\",\n            \"NZ\",\n            \"NZ-CHAT\",\n            \"Nairobi\",\n            \"Navajo\",\n            \"New Caledonia\",\n            \"New Delhi\",\n            \"Newfoundland\",\n            \"Novosibirsk\",\n            \"Nuku'alofa\",\n            \"Osaka\",\n            \"PRC\",\n            \"PST8PDT\",\n            \"Pacific Time (US & Canada)\",\n            \"Pacific/Apia\",\n            \"Pacific/Auckland\",\n            \"Pacific/Bougainville\",\n            \"Pacific/Chatham\",\n            \"Pacific/Chuuk\",\n            \"Pacific/Easter\",\n            \"Pacific/Efate\",\n            \"Pacific/Enderbury\",\n            \"Pacific/Fakaofo\",\n            \"Pacific/Fiji\",\n            \"Pacific/Funafuti\",\n            \"Pacific/Galapagos\",\n            \"Pacific/Gambier\",\n            \"Pacific/Guadalcanal\",\n            \"Pacific/Guam\",\n            \"Pacific/Honolulu\",\n            \"Pacific/Johnston\",\n            \"Pacific/Kiritimati\",\n            \"Pacific/Kosrae\",\n            \"Pacific/Kwajalein\",\n            \"Pacific/Majuro\",\n            \"Pacific/Marquesas\",\n            \"Pacific/Midway\",\n            \"Pacific/Nauru\",\n            \"Pacific/Niue\",\n            \"Pacific/Norfolk\",\n            \"Pacific/Noumea\",\n            \"Pacific/Pago_Pago\",\n            \"Pacific/Palau\",\n            \"Pacific/Pitcairn\",\n            \"Pacific/Pohnpei\",\n            \"Pacific/Ponape\",\n            \"Pacific/Port_Moresby\",\n            \"Pacific/Rarotonga\",\n            \"Pacific/Saipan\",\n            \"Pacific/Samoa\",\n            \"Pacific/Tahiti\",\n            \"Pacific/Tarawa\",\n            \"Pacific/Tongatapu\",\n            \"Pacific/Truk\",\n            \"Pacific/Wake\",\n            \"Pacific/Wallis\",\n            \"Pacific/Yap\",\n            \"Paris\",\n            \"Perth\",\n            \"Poland\",\n            \"Port Moresby\",\n            \"Portugal\",\n            \"Prague\",\n            \"Pretoria\",\n            \"Puerto Rico\",\n            \"Quito\",\n            \"ROC\",\n            \"ROK\",\n            \"Rangoon\",\n            \"Riga\",\n            \"Riyadh\",\n            \"Rome\",\n            \"Samara\",\n            \"Samoa\",\n            \"Santiago\",\n            \"Sapporo\",\n            \"Sarajevo\",\n            \"Saskatchewan\",\n            \"Seoul\",\n            \"Singapore\",\n            \"Skopje\",\n            \"Sofia\",\n            \"Solomon Is.\",\n            \"Srednekolymsk\",\n            \"Sri Jayawardenepura\",\n            \"St. Petersburg\",\n            \"Stockholm\",\n            \"Sydney\",\n            \"Taipei\",\n            \"Tallinn\",\n            \"Tashkent\",\n            \"Tbilisi\",\n            \"Tehran\",\n            \"Tijuana\",\n            \"Tokelau Is.\",\n            \"Tokyo\",\n            \"Turkey\",\n            \"UCT\",\n            \"US/Alaska\",\n            \"US/Aleutian\",\n            \"US/Arizona\",\n            \"US/Central\",\n            \"US/East-Indiana\",\n            \"US/Eastern\",\n            \"US/Hawaii\",\n            \"US/Indiana-Starke\",\n            \"US/Michigan\",\n            \"US/Mountain\",\n            \"US/Pacific\",\n            \"US/Pacific-New\",\n            \"US/Samoa\",\n            \"UTC\",\n            \"Ulaanbaatar\",\n            \"Universal\",\n            \"Urumqi\",\n            \"Vienna\",\n            \"Vilnius\",\n            \"Vladivostok\",\n            \"Volgograd\",\n            \"W-SU\",\n            \"WET\",\n            \"Warsaw\",\n            \"Wellington\",\n            \"West Central Africa\",\n            \"Yakutsk\",\n            \"Yerevan\",\n            \"Zagreb\",\n            \"Zulu\",\n            \"Zurich\"\n          ]\n        }\n      },\n      \"additionalProperties\": false,\n      \"required\": [\n        \"address\"\n      ]\n    },\n    \"hlrCreateAddress\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"zipCode5\": {\n          \"type\": \"string\",\n          \"pattern\": \"^[0-9]{5}$\"\n        }\n      },\n      \"additionalProperties\": false,\n      \"required\": [\n        \"zipCode5\"\n      ]\n    },\n    \"hlrCreateIncluded\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"$ref\": \"#/definitions/hlrCreateContestableIssue\"\n      },\n      \"minItems\": 1,\n      \"uniqueItems\": true\n    },\n    \"hlrCreateContestableIssue\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"type\": {\n          \"type\": \"string\",\n          \"enum\": [\n            \"contestableIssue\"\n          ]\n        },\n        \"attributes\": {\n          \"$ref\": \"#/definitions/hlrCreateContestableIssueAttributes\"\n        }\n      },\n      \"additionalProperties\": false,\n      \"required\": [\n        \"type\",\n        \"attributes\"\n      ]\n    },\n    \"hlrCreateContestableIssueAttributes\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"issue\": {\n          \"$ref\": \"#/definitions/nonBlankStringMaxLength140\"\n        },\n        \"decisionDate\": {\n          \"$ref\": \"#/definitions/date\"\n        },\n        \"decisionIssueId\": {\n          \"type\": \"integer\"\n        },\n        \"ratingIssueReferenceId\": {\n          \"type\": \"string\"\n        },\n        \"ratingDecisionReferenceId\": {\n          \"type\": \"string\"\n        }\n      },\n      \"additionalProperties\": false,\n      \"required\": [\n        \"issue\",\n        \"decisionDate\"\n      ]\n    }\n  }\n}"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "apikey": []
          }
        ]
      }
    },
    "/higher_level_reviews/validate": {
      "post": {
        "tags": ["Higher-Level Reviews"],
        "operationId": "postValidateHigherLevelReview",
        "summary": "Validate a POST /higher_level_reviews request body (dry run)",
        "description": "Validate a `POST /higher_level_reviews` request body against the JSON Schema. Like the `POST /higher_level_reviews`, but *only* does the validations **\u2014does not submit anything.**",
        "parameters": [
          {
            "name": "X-VA-SSN",
            "in": "header",
            "description": "veteran's SSN",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/X-VA-SSN"
            }
          },
          {
            "name": "X-VA-First-Name",
            "in": "header",
            "description": "veteran's first name",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/X-VA-First-Name"
            }
          },
          {
            "name": "X-VA-Middle-Initial",
            "in": "header",
            "description": "veteran's middle initial",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/X-VA-Middle-Initial"
            }
          },
          {
            "name": "X-VA-Last-Name",
            "in": "header",
            "description": "veteran's last name",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/X-VA-Last-Name"
            }
          },
          {
            "name": "X-VA-Birth-Date",
            "in": "header",
            "description": "veteran's birth date",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/X-VA-Birth-Date"
            }
          },
          {
            "name": "X-VA-File-Number",
            "in": "header",
            "description": "veteran's file number",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/X-VA-File-Number"
            }
          },
          {
            "name": "X-VA-Service-Number",
            "in": "header",
            "description": "veteran's service number",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/X-VA-Service-Number"
            }
          },
          {
            "name": "X-VA-Insurance-Policy-Number",
            "in": "header",
            "description": "veteran's insurance policy number",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/X-VA-Insurance-Policy-Number"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/hlrCreate"
              },
              "examples": {
                "all fields used": {
                  "value": {
                    "data": {
                      "type": "higherLevelReview",
                      "attributes": {
                        "informalConference": true,
                        "sameOffice": true,
                        "benefitType": "compensation",
                        "veteran": {
                          "address": {
                            "zipCode5": "66002"
                          },
                          "phone": {
                            "countryCode": "34",
                            "areaCode": "555",
                            "phoneNumber": "8001111",
                            "phoneNumberExt": "2"
                          },
                          "emailAddressText": "josie@example.com",
                          "timezone": "America/Chicago"
                        },
                        "informalConferenceTimes": ["1230-1400 ET", "1400-1630 ET"],
                        "informalConferenceRep": {
                          "name": "Helen Holly",
                          "phone": {
                            "countryCode": "6",
                            "areaCode": "555",
                            "phoneNumber": "8001111",
                            "phoneNumberExt": "2"
                          }
                        }
                      }
                    },
                    "included": [
                      {
                        "type": "contestableIssue",
                        "attributes": {
                          "issue": "tinnitus",
                          "decisionDate": "1900-01-01",
                          "decisionIssueId": 1,
                          "ratingIssueReferenceId": "2",
                          "ratingDecisionReferenceId": "3"
                        }
                      },
                      {
                        "type": "contestableIssue",
                        "attributes": {
                          "issue": "left knee",
                          "decisionDate": "1900-01-02",
                          "decisionIssueId": 4,
                          "ratingIssueReferenceId": "5"
                        }
                      },
                      {
                        "type": "contestableIssue",
                        "attributes": {
                          "issue": "right knee",
                          "decisionDate": "1900-01-03",
                          "ratingIssueReferenceId": "6",
                          "ratingDecisionReferenceId": "7"
                        }
                      },
                      {
[...]
