{
  "openapi": "3.0.1",
  "info": {
    "title": "US Core R4",
    "description": "In adherence to changes per the [21st Century Cures Act](https://www.federalregister.gov/documents/2020/05/01/2020-07419/21st-century-cures-act-interoperability-information-blocking-and-the-onc-health-it-certification#h-13), the Veteran Health API profile follows the US Core Implementation Guide. Per these regulations, we will be adding new FHIR resources to this tab as they are available.\n\nThis service is compliant with the FHIR US Core Implementation Guide. This service does not provide or replace the consultation, guidance, or care of a health care professional or other qualified provider. This service provides a supplement for informational and educational purposes only. Health care professionals and other qualified providers should continue to consult authoritative records when making decisions.",
    "version": "v1"
  },
  "externalDocs": {
    "description": "US Core Implementation Guide",
    "url": "https://build.fhir.org/ig/HL7/US-Core-R4/index.html"
  },
  "servers": [
    {
      "url": "https://sandbox-api.va.gov/services/fhir/v0/r4/",
      "description": "Sandbox",
      "variables": {}
    }
  ],
  "security": [
    {
      "OauthFlow": [
        "patient/AllergyIntolerance.read",
        "patient/Condition.read",
        "patient/DiagnosticReport.read",
        "patient/Immunization.read",
        "patient/Medication.read",
        "patient/MedicationRequest.read",
        "patient/Observation.read",
        "patient/Patient.read",
        "patient/Procedure.read",
        "offline-access",
        "launch/patient"
      ]
    }
  ],
  "paths": {
    "/AllergyIntolerance": {
      "get": {
        "tags": ["Allergy Intolerance"],
        "summary": "Allergy Intolerance Search",
        "description": "https://build.fhir.org/ig/HL7/US-Core-R4/StructureDefinition-us-core-allergyintolerance.html",
        "operationId": "allergyIntoleranceSearch",
        "parameters": [
          {
            "name": "patient",
            "in": "query",
            "description": "The Integration Control Number (ICN) assigned by the Master Veteran Index (MVI) of the patient who has the allergy or intolerance.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page number of the search result.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "_count",
            "in": "query",
            "description": "The number of resources that should be returned in a single page. The maximum count size is 100.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 15
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Records found",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/AllergyIntoleranceBundle"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      }
    },
    "/AllergyIntolerance/{id}": {
      "get": {
        "tags": ["Allergy Intolerance"],
        "summary": "Allergy Intolerance Read",
        "description": "https://build.fhir.org/ig/HL7/US-Core-R4/StructureDefinition-us-core-allergyintolerance.html",
        "operationId": "allergyIntoleranceRead",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The logical id of the resource. Once assigned, this value never changes.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Record found",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/AllergyIntolerance"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      }
    },
    "/Condition": {
      "get": {
        "tags": ["Condition"],
        "summary": "Condition Search",
        "description": "https://build.fhir.org/ig/HL7/US-Core-R4/StructureDefinition-us-core-condition.html",
        "operationId": "conditionSearch",
        "parameters": [
          {
            "name": "patient",
            "in": "query",
            "description": "The Integration Control Number (ICN) assigned by the Master Veteran Index (MVI) that indicates the patient who the condition record is associated with.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category",
            "in": "query",
            "description": "The category the condition record belongs to. Can be used to distinguish between health concerns and problems.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "clinical-status",
            "in": "query",
            "description": "Indicates the clinical state of the condition described by the record, taking prior conditions into account.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page number being requested.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "_count",
            "in": "query",
            "description": "The number of resources that should be returned in a single page. The maximum count size is 100.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 15
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Records Found",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/ConditionBundle"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      }
    },
    "/Condition/{id}": {
      "get": {
        "tags": ["Condition"],
        "summary": "Condition Read",
        "description": "https://build.fhir.org/ig/HL7/US-Core-R4/StructureDefinition-us-core-condition.html",
        "operationId": "conditionRead",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The logical id of the resource. Once assigned, this value never changes.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Record found",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/Condition"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      }
    },
    "/DiagnosticReport": {
      "get": {
        "tags": ["DiagnosticReport"],
        "summary": "Diagnostic Report Search",
        "description": "https://build.fhir.org/ig/HL7/US-Core-R4/StructureDefinition-us-core-diagnosticreport-lab.html",
        "operationId": "diagnosticReportSearch",
        "parameters": [
          {
            "name": "patient",
            "in": "query",
            "description": "The Integration Control Number (ICN) assigned by the Master Veteran Index (MVI) that indicates the patient who the record is associated with.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category",
            "in": "query",
            "description": "The category the diagnostic report record belongs to (e.g. LAB).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "code",
            "in": "query",
            "description": "A code that indicates the type of information contained within the diagnostic report.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date",
            "in": "query",
            "description": "A date or range of dates (maximum of 2) that describe the date that the diagnostic report was recorded.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "The status of the report.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page number being requested.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "_count",
            "in": "query",
            "description": "The number of resources that should be returned in a single page. The maximum count size is 100.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 15
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Records Found",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/DiagnosticReportBundle"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      }
    },
    "/DiagnosticReport/{id}": {
      "get": {
        "tags": ["DiagnosticReport"],
        "summary": "Diagnostic Report Read",
        "description": "https://build.fhir.org/ig/HL7/US-Core-R4/StructureDefinition-us-core-diagnosticreport-lab.html",
        "operationId": "diagnosticReportRead",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The logical id of the resource. Once assigned, this value never changes.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Record Found",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/DiagnosticReport"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      }
    },
    "/Immunization": {
      "get": {
        "tags": ["Immunization"],
        "summary": "Immunization Search",
        "description": "https://build.fhir.org/ig/HL7/US-Core-R4/StructureDefinition-us-core-immunization.html",
        "operationId": "immunizationSearch",
        "parameters": [
          {
            "name": "patient",
            "in": "query",
            "description": "The Integration Control Number (ICN) assigned by the Master Veteran Index (MVI) that indicates the patient who the immunization record is associated with.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page number being requested.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "_count",
            "in": "query",
            "description": "The number of resources that should be returned in a single page. The maximum count size is 100.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 15
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Records Found",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/ImmunizationBundle"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      }
    },
    "/Immunization/{id}": {
      "get": {
        "tags": ["Immunization"],
        "summary": "Immunization Read",
        "description": "https://build.fhir.org/ig/HL7/US-Core-R4/StructureDefinition-us-core-immunization.html",
        "operationId": "immunizationRead",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The logical id of the resource. Once assigned, this value never changes.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Record found",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/Immunization"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      }
    },
    "/Location": {
      "get": {
        "tags": ["Location"],
        "summary": "Location Search",
        "description": "https://build.fhir.org/ig/HL7/US-Core-R4/StructureDefinition-us-core-location.html",
        "operationId": "locationSearch",
        "parameters": [
          {
            "name": "_id",
            "in": "query",
            "description": "The logical id of the resource. Once assigned, this value never changes.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "in": "query",
            "description": "Indicates the physical location of the record expressed using postal conventions (as opposed to GPS or other location definition formats).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address-city",
            "in": "query",
            "description": "Indicates the geographical city where the location resides.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address-state",
            "in": "query",
            "description": "Indicates the geographical state where the location resides.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address-postalcode",
            "in": "query",
            "description": "Indicates the postal code that designates the region where the location resides.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "Indicates the name of the location as it is referenced by humans.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page number of the search result.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "_count",
            "in": "query",
            "description": "The number of resources that should be returned in a single page. The maximum count size is 100.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 15
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Record found",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/LocationBundle"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      }
    },
    "/Location/{id}": {
      "get": {
        "tags": ["Location"],
        "summary": "Location Read",
        "description": "https://build.fhir.org/ig/HL7/US-Core-R4/StructureDefinition-us-core-location.html",
        "operationId": "locationRead",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The logical id of the resource. Once assigned, this value never changes.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Record found",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/Location"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      }
    },
    "/Medication/{id}": {
      "get": {
        "tags": ["Medication"],
        "summary": "Medication Read",
        "description": "https://build.fhir.org/ig/HL7/US-Core-R4/StructureDefinition-us-core-medication.html",
        "operationId": "medicationRead",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The logical id of the resource. Once assigned, this value never changes.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Record found",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/Medication"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      }
    },
    "/MedicationRequest": {
      "get": {
        "tags": ["MedicationRequest"],
        "summary": "MedicationRequest Search",
        "description": "https://build.fhir.org/ig/HL7/US-Core-R4/StructureDefinition-us-core-medicationrequest.html",
        "operationId": "medicationRequestSearch",
        "parameters": [
          {
            "name": "patient",
            "in": "query",
            "description": "The Integration Control Number (ICN) assigned by the Master Veteran Index (MVI) that refers to the person on which the MedicationRequest was performed.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "intent",
            "in": "query",
            "description": "Describes the represented intention made by the request.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page number of the search result.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "_count",
            "in": "query",
            "description": "The number of resources that should be returned in a single page. The maximum count size is 100.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 15
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Records found",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/MedicationRequestBundle"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      }
    },
    "/MedicationRequest/{id}": {
      "get": {
        "tags": ["MedicationRequest"],
        "summary": "MedicationRequest Read",
        "description": "https://build.fhir.org/ig/HL7/US-Core-R4/StructureDefinition-us-core-medicationrequest.html",
        "operationId": "medicationRequestRead",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The logical id of the resource. Once assigned, this value never changes.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Record found",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/MedicationRequest"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      }
    },
    "/metadata": {
      "get": {
        "tags": ["Metadata"],
        "summary": "Capability Statement",
        "description": "http://hl7.org/fhir/R4/capabilitystatement.html",
        "operationId": "metadata",
        "responses": {
          "200": {
            "description": "Record found",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/CapabilityStatement"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        },
        "security": [
          {
            "none": []
          }
        ]
      }
    },
    "/Observation": {
      "get": {
        "tags": ["Observation"],
        "summary": "Observation Search",
        "description": "http://www.fhir.org/guides/argonaut/r2/StructureDefinition-argo-observationresults.html",
        "operationId": "observationSearch",
        "parameters": [
          {
            "name": "patient",
            "in": "query",
            "description": "The Integration Control Number (ICN) assigned by the Master Veteran Index (MVI) that refers to the patient that is described by the observation",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category",
            "in": "query",
            "description": "The general classification of the type of observation.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "code",
            "in": "query",
            "description": "A code that indicates the type of information contained within the observation.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date",
            "in": "query",
            "description": "A date or range of dates (maximum of 2) that describes the date that the observation was recorded.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page number of the search result.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "_count",
            "in": "query",
            "description": "The number of resources that should be returned in a single page. The maximum count size is 100.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 15
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Record found",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/ObservationBundle"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      }
    },
    "/Observation/{id}": {
      "get": {
        "tags": ["Observation"],
        "summary": "Observation Read",
        "description": "https://build.fhir.org/ig/HL7/US-Core-R4/StructureDefinition-us-core-observation-lab.html",
        "operationId": "observationRead",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The logical id of the resource. Once assigned, this value never changes.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Record found",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/Observation"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      }
    },
    "/Organization": {
      "get": {
        "tags": ["Organization"],
        "summary": "Organization Search",
        "description": "https://build.fhir.org/ig/HL7/US-Core-R4/StructureDefinition-us-core-organization.html",
        "operationId": "organizationSearch",
        "parameters": [
          {
            "name": "_id",
            "in": "query",
            "description": "The logical id of the resource. Once assigned, this value never changes.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "in": "query",
            "description": "Indicates the physical location of the organization expressed using postal conventions (as opposed to GPS or other location definition formats).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address-city",
            "in": "query",
            "description": "Indicates the geographical city where the organization resides.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address-state",
            "in": "query",
            "description": "Indicates the geographical state where the organization resides.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address-postalcode",
            "in": "query",
            "description": "Indicates the postal code that designates the region where the organization resides.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "Indicates the name of the organization as it is referenced by humans.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page number of the search result.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "_count",
            "in": "query",
            "description": "The number of resources that should be returned in a single page. The maximum count size is 100.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 15
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Record found",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationBundle"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      }
    },
    "/Organization/{id}": {
      "get": {
        "tags": ["Organization"],
        "summary": "Organization Read",
        "description": "https://build.fhir.org/ig/HL7/US-Core-R4/StructureDefinition-us-core-organization.html",
        "operationId": "organizationRead",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The logical id of the resource. Once assigned, this value never changes.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Record found",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/Organization"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      }
    },
    "/Patient": {
      "get": {
        "tags": ["Patient"],
        "summary": "Patient Search",
        "description": "https://build.fhir.org/ig/HL7/US-Core-R4/StructureDefinition-us-core-patient.html",
        "operationId": "patientSearch",
        "parameters": [
          {
            "name": "_id",
            "in": "query",
            "description": "The logical id of the resource. Once assigned, this value never changes. For Patients this id is an Integration Control Number (ICN) assigned by the Master Veteran Index (MVI).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page number of the search result.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "_count",
            "in": "query",
            "description": "The number of resources that should be returned in a single page. The maximum count size is 100.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 15
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Records found",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/PatientBundle"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      }
    },
    "/Patient/{id}": {
      "get": {
        "tags": ["Patient"],
        "summary": "Patient Read",
        "description": "https://build.fhir.org/ig/HL7/US-Core-R4/StructureDefinition-us-core-patient.html",
        "operationId": "patientRead",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The logical id of the resource. Once assigned, this value never changes. For Patients this id is an Integration Control Number (ICN) assigned by the Master Veteran Index (MVI).",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Record found",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/Patient"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      }
    },
    "/Procedure": {
      "get": {
        "tags": ["Procedure"],
        "summary": "Procedure Search",
        "description": "https://build.fhir.org/ig/HL7/US-Core-R4/StructureDefinition-us-core-procedure.html",
        "operationId": "procedureSearch",
        "parameters": [
          {
            "name": "patient",
            "in": "query",
            "description": "The Integration Control Number (ICN) assigned by the Master Veteran Index (MVI) that refers to the person on which the procedure was performed.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date",
            "in": "query",
            "description": "A date or range of dates (maximum of 2) that describes the date that the procedure was performed.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page number of the search result.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "_count",
            "in": "query",
            "description": "The number of resources that should be returned in a single page. The maximum count size is 100.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 15
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Records found",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProcedureBundle"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      }
    },
    "/Procedure/{id}": {
      "get": {
        "tags": ["Procedure"],
        "summary": "Procedure Read",
        "description": "https://build.fhir.org/ig/HL7/US-Core-R4/StructureDefinition-us-core-procedure.html",
        "operationId": "procedureRead",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The logical id of the resource. Once assigned, this value never changes.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Record found",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/Procedure"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Address": {
        "type": "object",
        "properties": {
          "id": {
            "pattern": "[A-Za-z0-9\\-\\.]{1,64}",
            "type": "string"
          },
          "use": {
            "type": "string",
            "enum": ["home", "work", "temp", "old", "billing"]
          },
          "type": {
            "type": "string",
            "enum": ["postal", "physical", "both"]
          },
          "text": {
            "pattern": "[ \\r\\n\\t\\S]+",
            "type": "string"
          },
          "line": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "city": {
            "pattern": "[ \\r\\n\\t\\S]+",
            "type": "string"
          },
          "district": {
            "pattern": "[ \\r\\n\\t\\S]+",
            "type": "string"
          },
          "state": {
            "pattern": "[ \\r\\n\\t\\S]+",
            "type": "string"
          },
          "postalCode": {
            "pattern": "[ \\r\\n\\t\\S]+",
            "type": "string"
          },
          "country": {
            "pattern": "[ \\r\\n\\t\\S]+",
            "type": "string"
          },
          "period": {
            "$ref": "#/components/schemas/Period"
          }
        },
        "description": "https://www.hl7.org/fhir/R4/datatypes.html#Address"
      },
      "Age": {
        "type": "object",
        "properties": {
          "id": {
            "pattern": "[A-Za-z0-9\\-\\.]{1,64}",
            "type": "string"
          },
          "extension": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Extension"
            }
          },
          "value": {
            "type": "number"
          },
          "comparator": {
            "pattern": "(<|<=|>=|>)",
            "type": "string"
          },
          "unit": {
            "type": "string"
          },
          "system": {
            "pattern": "\\S*",
            "type": "string"
          },
          "code": {
            "pattern": "[^\\s]+(\\s[^\\s]+)*",
            "type": "string"
          }
        },
        "description": "http://hl7.org/fhir/R4/datatypes.html#Age"
      },
      "AllergyIntolerance": {
        "required": ["patient", "resourceType"],
        "type": "object",
        "properties": {
          "resourceType": {
            "type": "string"
          },
          "id": {
            "pattern": "[A-Za-z0-9\\-\\.]{1,64}",
            "type": "string"
          },
          "meta": {
            "$ref": "#/components/schemas/Meta"
          },
          "implicitRules": {
            "pattern": "\\S*",
            "type": "string"
          },
          "language": {
            "pattern": "[^\\s]+(\\s[^\\s]+)*",
            "type": "string"
          },
          "text": {
            "$ref": "#/components/schemas/Narrative"
          },
          "contained": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SimpleResource"
            }
          },
          "extension": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Extension"
            }
          },
          "modifierExtension": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Extension"
            }
          },
          "identifier": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Identifier"
            }
          },
          "clinicalStatus": {
            "$ref": "#/components/schemas/CodeableConcept"
          },
          "verificationStatus": {
            "$ref": "#/components/schemas/CodeableConcept"
          },
          "type": {
            "type": "string",
            "enum": ["allergy", "intolerance"]
          },
          "category": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": ["food", "medication", "environment", "biologic"]
            }
          },
          "criticality": {
            "type": "string",
            "enum": ["low", "high", "unable-to-assess"]
          },
          "code": {
            "$ref": "#/components/schemas/CodeableConcept"
          },
          "patient": {
            "$ref": "#/components/schemas/Reference"
          },
          "encounter": {
            "$ref": "#/components/schemas/Reference"
          },
          "onsetDateTime": {
            "pattern": "([0-9]([0-9]([0-9][1-9]|[1-9]0)|[1-9]00)|[1-9]000)(-(0[1-9]|1[0-2])(-(0[1-9]|[1-2][0-9]|3[0-1])(T([01][0-9]|2[0-3]):[0-5][0-9]:([0-5][0-9]|60)(\\.[0-9]+)?(Z|(\\+|-)((0[0-9]|1[0-3]):[0-5][0-9]|14:00)))?)?)?",
            "type": "string"
          },
          "onsetAge": {
            "$ref": "#/components/schemas/Age"
          },
          "onsetPeriod": {
            "$ref": "#/components/schemas/Period"
          },
          "onsetRange": {
            "$ref": "#/components/schemas/Range"
          },
          "onsetString": {
            "type": "string"
          },
          "recordedDate": {
            "pattern": "([0-9]([0-9]([0-9][1-9]|[1-9]0)|[1-9]00)|[1-9]000)(-(0[1-9]|1[0-2])(-(0[1-9]|[1-2][0-9]|3[0-1])(T([01][0-9]|2[0-3]):[0-5][0-9]:([0-5][0-9]|60)(\\.[0-9]+)?(Z|(\\+|-)((0[0-9]|1[0-3]):[0-5][0-9]|14:00)))?)?)?",
            "type": "string"
          },
          "recorder": {
            "$ref": "#/components/schemas/Reference"
          },
          "asserter": {
            "$ref": "#/components/schemas/Reference"
          },
          "lastOccurence": {
            "pattern": "([0-9]([0-9]([0-9][1-9]|[1-9]0)|[1-9]00)|[1-9]000)(-(0[1-9]|1[0-2])(-(0[1-9]|[1-2][0-9]|3[0-1])(T([01][0-9]|2[0-3]):[0-5][0-9]:([0-5][0-9]|60)(\\.[0-9]+)?(Z|(\\+|-)((0[0-9]|1[0-3]):[0-5][0-9]|14:00)))?)?)?",
            "type": "string"
          },
          "note": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Annotation"
            }
          },
          "reaction": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AllergyIntoleranceReaction"
            }
          }
        },
        "description": "https://build.fhir.org/ig/HL7/US-Core-R4/StructureDefinition-us-core-allergyintolerance.html",
        "example": {
          "resourceType": "AllergyIntolerance",
          "id": "I2-6F9A021B07D553C88CCEB49A694D4AD9",
          "clinicalStatus": {
            "coding": [
              {
                "system": "http://terminology.hl7.org/CodeSystem/allergyintolerance-clinical",
                "code": "active"
              }
            ]
          },
          "verificationStatus": {
            "coding": [
              {
                "system": "http://terminology.hl7.org/CodeSystem/allergyintolerance-verification",
                "code": "confirmed"
              }
            ]
          },
          "type": "allergy",
          "category": ["food"],
          "patient": {
            "reference": "https://sandbox-api.va.gov/services/r4/v0/Patient/1017283148V813263",
            "display": "Mr. Aurelio227 Cruickshank494"
          },
          "onsetDateTime": "1995-04-30T01:15:52Z",
          "note": [
            {
              "time": "1995-04-30T01:15:52Z",
              "text": "Allergy to peanuts"
            }
          ],
          "reaction": [
            {
              "manifestation": [
                {
                  "coding": [
                    {
                      "system": "urn:oid:2.16.840.1.113883.6.233",
                      "code": "2000001",
                      "display": "Inflammation of Skin"
                    }
                  ],
                  "text": "Inflammation of Skin"
                }
              ]
            }
          ]
        }
      },
      "AllergyIntoleranceBundle": {
        "required": ["resourceType", "type"],
        "type": "object",
        "properties": {
          "resourceType": {
            "type": "string"
          },
          "id": {
            "pattern": "[A-Za-z0-9\\-\\.]{1,64}",
            "type": "string"
          },
          "meta": {
            "$ref": "#/components/schemas/Meta"
          },
          "implicitRules": {
            "pattern": "\\S*",
            "type": "string"
          },
          "language": {
            "pattern": "[^\\s]+(\\s[^\\s]+)*",
            "type": "string"
          },
          "identifier": {
            "$ref": "#/components/schemas/Identifier"
          },
          "type": {
            "type": "string",
            "enum": [
              "document",
              "message",
              "transaction",
              "transaction-response",
              "batch",
              "batch-response",
              "history",
              "searchset",
              "collection"
            ]
          },
          "timestamp": {
            "pattern": "([0-9]([0-9]([0-9][1-9]|[1-9]0)|[1-9]00)|[1-9]000)-(0[1-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1])T([01][0-9]|2[0-3]):[0-5][0-9]:([0-5][0-9]|60)(\\.[0-9]+)?(Z|(\\+|-)((0[0-9]|1[0-3]):[0-5][0-9]|14:00))",
            "type": "string"
          },
          "total": {
            "minimum": 0,
            "type": "integer",
            "format": "int32"
          },
          "link": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BundleLink"
            }
          },
          "entry": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AllergyIntoleranceEntry"
            }
          },
          "signature": {
            "$ref": "#/components/schemas/Signature"
          }
        },
        "example": {
          "resourceType": "Bundle",
          "type": "searchset",
          "total": 1,
          "link": [
            {
              "relation": "self",
              "url": "https://sandbox-api.va.gov/services/r4/v0/AllergyIntolerance?patient=1017283148V813263&page=1&_count=15"
            },
            {
              "relation": "first",
              "url": "https://sandbox-api.va.gov/services/r4/v0/AllergyIntolerance?patient=1017283148V813263&page=1&_count=15"
            },
            {
              "relation": "last",
              "url": "https://sandbox-api.va.gov/services/r4/v0/AllergyIntolerance?patient=1017283148V813263&page=1&_count=15"
            }
          ],
          "entry": [
            {
              "fullUrl": "https://sandbox-api.va.gov/services/r4/v0/AllergyIntolerance/I2-6F9A021B07D553C88CCEB49A694D4AD9",
              "resource": {
                "resourceType": "AllergyIntolerance",
                "id": "I2-6F9A021B07D553C88CCEB49A694D4AD9",
                "clinicalStatus": {
                  "coding": [
                    {
                      "system": "http://terminology.hl7.org/CodeSystem/allergyintolerance-clinical",
                      "code": "active"
                    }
                  ]
                },
                "verificationStatus": {
                  "coding": [
                    {
                      "system": "http://terminology.hl7.org/CodeSystem/allergyintolerance-verification",
                      "code": "confirmed"
                    }
                  ]
                },
                "type": "allergy",
                "category": ["food"],
                "patient": {
                  "reference": "https://sandbox-api.va.gov/services/r4/v0/Patient/1017283148V813263",
                  "display": "Mr. Aurelio227 Cruickshank494"
                },
                "onsetDateTime": "1995-04-30T01:15:52Z",
                "note": [
                  {
                    "time": "1995-04-30T01:15:52Z",
                    "text": "Allergy to peanuts"
                  }
                ],
                "reaction": [
                  {
                    "manifestation": [
                      {
                        "coding": [
                          {
                            "system": "urn:oid:2.16.840.1.113883.6.233",
                            "code": "2000001",
                            "display": "Inflammation of Skin"
                          }
                        ],
                        "text": "Inflammation of Skin"
                      }
                    ]
                  }
                ]
              },
              "search": {
                "mode": "match"
              }
            }
          ]
        }
      },
      "AllergyIntoleranceEntry": {
        "type": "object",
        "properties": {
          "id": {
            "pattern": "[A-Za-z0-9\\-\\.]{1,64}",
            "type": "string"
          },
          "extension": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Extension"
            }
          },
          "modifierExtension": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Extension"
            }
          },
          "link": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BundleLink"
            }
          },
          "fullUrl": {
            "pattern": "\\S*",
            "type": "string"
          },
          "resource": {
            "$ref": "#/components/schemas/AllergyIntolerance"
          },
          "search": {
            "$ref": "#/components/schemas/Search"
          },
          "request": {
            "$ref": "#/components/schemas/Request"
          },
          "response": {
            "$ref": "#/components/schemas/Response"
          }
        }
      },
      "AllergyIntoleranceReaction": {
        "required": ["manifestation"],
        "type": "object",
        "properties": {
          "id": {
            "pattern": "[A-Za-z0-9\\-\\.]{1,64}",
            "type": "string"
          },
          "extension": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Extension"
            }
          },
          "modifierExtension": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Extension"
            }
          },
          "substance": {
            "$ref": "#/components/schemas/CodeableConcept"
          },
          "manifestation": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CodeableConcept"
            }
          },
          "description": {
            "type": "string"
          },
          "onset": {
            "pattern": "([0-9]([0-9]([0-9][1-9]|[1-9]0)|[1-9]00)|[1-9]000)(-(0[1-9]|1[0-2])(-(0[1-9]|[1-2][0-9]|3[0-1])(T([01][0-9]|2[0-3]):[0-5][0-9]:([0-5][0-9]|60)(\\.[0-9]+)?(Z|(\\+|-)((0[0-9]|1[0-3]):[0-5][0-9]|14:00)))?)?)?",
            "type": "string"
          },
          "severity": {
            "type": "string",
            "enum": ["mild", "moderate", "severe"]
          },
          "exposureRoute": {
            "$ref": "#/components/schemas/CodeableConcept"
          },
          "note": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Annotation"
            }
          }
        }
      },
      "Annotation": {
        "required": ["text"],
        "type": "object",
        "properties": {
          "id": {
            "pattern": "[A-Za-z0-9\\-\\.]{1,64}",
            "type": "string"
          },
          "extension": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Extension"
            }
          },
          "authorReference": {
            "$ref": "#/components/schemas/Reference"
          },
          "authorString": {
            "pattern": "[ \\r\\n\\t\\S]+",
            "type": "string"
          },
          "time": {
            "pattern": "([0-9]([0-9]([0-9][1-9]|[1-9]0)|[1-9]00)|[1-9]000)(-(0[1-9]|1[0-2])(-(0[1-9]|[1-2][0-9]|3[0-1])(T([01][0-9]|2[0-3]):[0-5][0-9]:([0-5][0-9]|60)(\\.[0-9]+)?(Z|(\\+|-)((0[0-9]|1[0-3]):[0-5][0-9]|14:00)))?)?)?",
            "type": "string"
          },
          "text": {
            "pattern": "\\s*(\\S|\\s)*",
            "type": "string"
          }
        },
        "description": "https://www.hl7.org/fhir/R4/datatypes.html#Annotation"
      },
      "Attachment": {
        "type": "object",
        "properties": {
          "id": {
            "pattern": "[A-Za-z0-9\\-\\.]{1,64}",
            "type": "string"
          },
          "contentType": {
            "pattern": "[^\\s]+(\\s[^\\s]+)*",
            "type": "string"
          },
          "language": {
            "pattern": "[^\\s]+(\\s[^\\s]+)*",
            "type": "string"
          },
          "data": {
            "pattern": "(\\s*([0-9a-zA-Z\\+\\=]){4}\\s*)+",
            "type": "string"
          },
          "url": {
            "pattern": "\\S*",
            "type": "string"
          },
          "size": {
            "minimum": 0,
            "type": "integer",
            "format": "int32"
          },
          "hash": {
            "pattern": "(\\s*([0-9a-zA-Z\\+\\=]){4}\\s*)+",
            "type": "string"
          },
          "title": {
            "pattern": "[ \\r\\n\\t\\S]+",
            "type": "string"
          },
          "creation": {
            "pattern": "([0-9]([0-9]([0-9][1-9]|[1-9]0)|[1-9]00)|[1-9]000)(-(0[1-9]|1[0-2])(-(0[1-9]|[1-2][0-9]|3[0-1])(T([01][0-9]|2[0-3]):[0-5][0-9]:([0-5][0-9]|60)(\\.[0-9]+)?(Z|(\\+|-)((0[0-9]|1[0-3]):[0-5][0-9]|14:00)))?)?)?",
            "type": "string"
          }
        },
        "description": "https://www.hl7.org/fhir/R4/datatypes.html#Attachment"
      },
      "BundleLink": {
        "required": ["relation", "url"],
        "type": "object",
        "properties": {
          "id": {
            "pattern": "[A-Za-z0-9\\-\\.]{1,64}",
            "type": "string"
          },
          "extension": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Extension"
            }
          },
          "modifierExtension": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Extension"
            }
          },
          "relation": {
            "type": "string",
            "enum": [
              "about",
              "alternate",
              "appendix",
              "archives",
              "author",
              "blocked-by",
              "bookmark",
              "canonical",
              "chapter",
              "cite-as",
              "collection",
              "contents",
              "convertedFrom",
              "copyright",
              "create-form",
              "current",
              "describedby",
              "describes",
              "disclosure",
              "dns-prefetch",
              "duplicate",
              "edit",
              "edit-form",
              "edit-media",
              "enclosure",
              "first",
              "glossary",
              "help",
              "hosts",
              "hub",
              "icon",
              "index",
              "intervalAfter",
              "intervalBefore",
              "intervalContains",
              "intervalDisjoint",
              "intervalDuring",
              "intervalEquals",
              "intervalFinishedBy",
              "intervalFinishes",
              "intervalln",
              "intervalMeets",
              "intervalMetBy",
              "intervalOverlappedBy",
              "intervalOverlaps",
              "intervalStartedBy",
              "intervalStarts",
              "item",
              "last",
              "latest-version",
              "license",
              "lrdd",
              "memento",
              "monitor",
              "monitor-group",
              "next",
              "next-archive",
              "nofollow",
              "noreferrer",
              "original",
              "payment",
              "pingback",
              "preconnect",
              "predecessor-version",
              "prefetch",
              "preload",
              "prerender",
              "prev",
              "preview",
              "previous",
              "prev-archive",
              "privacy-policy",
              "profile",
              "related",
              "restconf",
              "replies",
              "search",
              "section",
              "self",
              "service",
              "start",
              "stylesheet",
              "subsection",
              "successor-version",
              "tag",
              "terms-of-service",
              "timegate",
              "timemap",
              "type",
              "up",
              "version-history",
              "via",
              "webmention",
              "working-copy",
              "working-copy-of"
            ]
          },
          "url": {
            "pattern": "\\S*",
            "type": "string"
          }
        }
      },
      "CapabilityResource": {
        "required": ["type"],
        "type": "object",
        "properties": {
          "id": {
            "pattern": "[A-Za-z0-9\\-\\.]{1,64}",
            "type": "string"
          },
          "modifierExtension": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Extension"
            }
          },
          "extension": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Extension"
            }
          },
          "type": {
            "pattern": "[^\\s]+(\\s[^\\s]+)*",
            "type": "string"
          },
          "profile": {
            "pattern": "\\S*",
            "type": "string"
          },
          "supportedProfile": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "documentation": {
            "pattern": "\\s*(\\S|\\s)*",
            "type": "string"
          },
          "interaction": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ResourceInteraction"
            }
          },
          "versioning": {
            "type": "string",
            "enum": ["no-version", "versioned", "versioned-update"]
          },
          "readHistory": {
            "type": "boolean"
          },
          "updateCreate": {
            "type": "boolean"
          },
          "conditionalCreate": {
            "type": "boolean"
          },
          "conditionalRead": {
            "type": "string",
            "enum": ["not-supported", "modified-since", "not-match", "full-support"]
          },
          "conditionalUpdate": {
            "type": "boolean"
          },
          "conditionalDelete": {
            "type": "string",
            "enum": ["not-supported", "single", "multiple"]
          },
          "referencePolicy": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": ["literal", "logical", "resolves", "enforced", "local"]
            }
          },
          "searchInclude": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "searchRevInclude": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "searchParam": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SearchParam"
            }
          },
          "operation": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Operation"
            }
          }
        }
      },
      "CapabilityStatement": {
        "required": ["date", "fhirVersion", "format", "kind", "resourceType", "status"],
        "type": "object",
        "properties": {
          "id": {
            "pattern": "[A-Za-z0-9\\-\\.]{1,64}",
            "type": "string"
          },
          "resourceType": {
            "type": "string"
          },
          "meta": {
            "$ref": "#/components/schemas/Meta"
          },
          "implicitRules": {
            "pattern": "\\S*",
            "type": "string"
          },
          "language": {
            "pattern": "[^\\s]+(\\s[^\\s]+)*",
            "type": "string"
          },
          "text": {
            "$ref": "#/components/schemas/Narrative"
          },
          "contained": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SimpleResource"
            }
          },
          "extension": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Extension"
            }
          },
          "modifierExtension": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Extension"
            }
          },
          "url": {
            "pattern": "\\S*",
            "type": "string"
          },
          "version": {
            "pattern": "[ \\r\\n\\t\\S]+",
            "type": "string"
          },
          "name": {
            "pattern": "[ \\r\\n\\t\\S]+",
            "type": "string"
          },
          "title": {
            "pattern": "[ \\r\\n\\t\\S]+",
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": ["draft", "active", "retired", "unknown"]
          },
          "experimental": {
            "type": "boolean"
          },
          "date": {
            "pattern": "([0-9]([0-9]([0-9][1-9]|[1-9]0)|[1-9]00)|[1-9]000)(-(0[1-9]|1[0-2])(-(0[1-9]|[1-2][0-9]|3[0-1])(T([01][0-9]|2[0-3]):[0-5][0-9]:([0-5][0-9]|60)(\\.[0-9]+)?(Z|(\\+|-)((0[0-9]|1[0-3]):[0-5][0-9]|14:00)))?)?)?",
            "type": "string"
          },
          "publisher": {
            "pattern": "[ \\r\\n\\t\\S]+",
            "type": "string"
          },
          "contact": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContactDetail"
            }
          },
          "description": {
            "pattern": "\\s*(\\S|\\s)*",
            "type": "string"
          },
          "useContext": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/UsageContext"
            }
          },
          "jurisdiction": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CodeableConcept"
            }
          },
          "purpose": {
            "pattern": "\\s*(\\S|\\s)*",
            "type": "string"
          },
          "copyright": {
            "pattern": "\\s*(\\S|\\s)*",
            "type": "string"
          },
          "kind": {
            "type": "string",
            "enum": ["instance", "capability", "requirements"]
          },
          "instantiates": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "imports": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "software": {
            "$ref": "#/components/schemas/Software"
          },
          "implementation": {
            "$ref": "#/components/schemas/Implementation"
          },
          "fhirVersion": {
            "pattern": "[^\\s]+(\\s[^\\s]+)*",
            "type": "string"
          },
          "format": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "patchFormat": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "implementationGuide": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "rest": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Rest"
            }
          },
          "messaging": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Messaging"
            }
          },
          "document": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Document"
            }
          }
        },
        "description": "https://www.hl7.org/fhir/R4/capabilitystatement.html"
      },
      "CodeableConcept": {
        "type": "object",
        "properties": {
          "id": {
            "pattern": "[A-Za-z0-9\\-\\.]{1,64}",
            "type": "string"
          },
          "extension": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Extension"
            }
          },
          "coding": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Coding"
            }
          },
          "text": {
            "pattern": "[ \\r\\n\\t\\S]+",
            "type": "string"
          }
        },
        "description": "https://www.hl7.org/fhir/R4/datatypes.html#CodeableConcept"
      },
      "Coding": {
        "type": "object",
        "properties": {
          "id": {
            "pattern": "[A-Za-z0-9\\-\\.]{1,64}",
            "type": "string"
          },
          "extension": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Extension"
            }
          },
          "system": {
            "pattern": "\\S*",
            "type": "string"
          },
          "version": {
            "pattern": "[ \\r\\n\\t\\S]+",
            "type": "string"
          },
          "code": {
            "pattern": "[^\\s]+(\\s[^\\s]+)*",
            "type": "string"
          },
          "display": {
            "pattern": "[ \\r\\n\\t\\S]+",
            "type": "string"
          },
          "userSelected": {
            "type": "boolean"
          }
        },
        "description": "https://hl7.org/fhir/R4/datatypes.html#Coding"
      },
      "Communication": {
        "required": ["language"],
        "type": "object",
        "properties": {
          "id": {
            "pattern": "[A-Za-z0-9\\-\\.]{1,64}",
            "type": "string"
          },
          "extension": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Extension"
            }
          },
          "modifierExtension": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Extension"
            }
          },
          "language": {
            "$ref": "#/components/schemas/CodeableConcept"
          },
          "preferred": {
            "type": "boolean"
          }
        }
      },
      "Component": {
        "required": ["code"],
        "type": "object",
        "properties": {
          "id": {
            "pattern": "[A-Za-z0-9\\-\\.]{1,64}",
            "type": "string"
          },
          "extension": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Extension"
            }
          },
          "modifierExtension": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Extension"
            }
          },
          "code": {
            "$ref": "#/components/schemas/CodeableConcept"
          },
          "valueQuantity": {
            "$ref": "#/components/schemas/Quantity"
          },
          "valueCodeableConcept": {
            "$ref": "#/components/schemas/CodeableConcept"
          },
          "valueString": {
            "type": "string"
          },
          "valueBoolean": {
            "type": "boolean"
          },
          "valueInteger": {
            "type": "integer",
            "format": "int32"
          },
          "valueRange": {
            "$ref": "#/components/schemas/Range"
          },
          "valueRatio": {
            "$ref": "#/components/schemas/Ratio"
          },
          "valueSampledData": {
            "$ref": "#/components/schemas/SampledData"
          },
          "valueTime": {
            "pattern": "([01][0-9]|2[0-3]):[0-5][0-9]:([0-5][0-9]|60)(\\.[0-9]+)?",
            "type": "string"
          },
          "valueDateTime": {
            "pattern": "([0-9]([0-9]([0-9][1-9]|[1-9]0)|[1-9]00)|[1-9]000)(-(0[1-9]|1[0-2])(-(0[1-9]|[1-2][0-9]|3[0-1])(T([01][0-9]|2[0-3]):[0-5][0-9]:([0-5][0-9]|60)(\\.[0-9]+)?(Z|(\\+|-)((0[0-9]|1[0-3]):[0-5][0-9]|14:00)))?)?)?",
            "type": "string"
          },
          "valuePeriod": {
            "$ref": "#/components/schemas/Period"
          },
          "dataAbsentReason": {
            "$ref": "#/components/schemas/CodeableConcept"
          },
          "interpretation": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CodeableConcept"
            }
          },
          "referenceRange": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ReferenceRange"
            }
          }
        }
      },
      "Condition": {
        "required": ["category", "code", "resourceType", "subject"],
        "type": "object",
        "properties": {
          "resourceType": {
            "type": "string"
          },
          "id": {
            "pattern": "[A-Za-z0-9\\-\\.]{1,64}",
            "type": "string"
          },
          "meta": {
            "$ref": "#/components/schemas/Meta"
          },
          "implicitRules": {
            "pattern": "\\S*",
            "type": "string"
          },
          "language": {
            "pattern": "[^\\s]+(\\s[^\\s]+)*",
            "type": "string"
          },
          "text": {
            "$ref": "#/components/schemas/Narrative"
          },
          "contained": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SimpleResource"
            }
          },
          "extension": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Extension"
            }
          },
          "modifierExtension": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Extension"
            }
          },
          "identifier": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Identifier"
            }
          },
          "clinicalStatus": {
            "$ref": "#/components/schemas/CodeableConcept"
          },
          "verificationStatus": {
            "$ref": "#/components/schemas/CodeableConcept"
          },
          "category": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CodeableConcept"
            }
          },
          "severity": {
            "$ref": "#/components/schemas/CodeableConcept"
          },
          "code": {
            "$ref": "#/components/schemas/CodeableConcept"
          },
          "bodySite": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CodeableConcept"
            }
          },
          "subject": {
            "$ref": "#/components/schemas/Reference"
          },
          "encounter": {
            "$ref": "#/components/schemas/Reference"
          },
          "onsetDateTime": {
            "pattern": "([0-9]([0-9]([0-9][1-9]|[1-9]0)|[1-9]00)|[1-9]000)(-(0[1-9]|1[0-2])(-(0[1-9]|[1-2][0-9]|3[0-1])(T([01][0-9]|2[0-3]):[0-5][0-9]:([0-5][0-9]|60)(\\.[0-9]+)?(Z|(\\+|-)((0[0-9]|1[0-3]):[0-5][0-9]|14:00)))?)?)?",
            "type": "string"
          },
          "onsetAge": {
            "$ref": "#/components/schemas/Age"
          },
          "onsetPeriod": {
            "$ref": "#/components/schemas/Period"
          },
          "onsetRange": {
            "$ref": "#/components/schemas/Range"
          },
          "onsetString": {
            "type": "string"
          },
          "abatementDateTime": {
            "pattern": "([0-9]([0-9]([0-9][1-9]|[1-9]0)|[1-9]00)|[1-9]000)(-(0[1-9]|1[0-2])(-(0[1-9]|[1-2][0-9]|3[0-1])(T([01][0-9]|2[0-3]):[0-5][0-9]:([0-5][0-9]|60)(\\.[0-9]+)?(Z|(\\+|-)((0[0-9]|1[0-3]):[0-5][0-9]|14:00)))?)?)?",
            "type": "string"
          },
          "abatementAge": {
            "$ref": "#/components/schemas/Age"
          },
          "abatementPeriod": {
            "$ref": "#/components/schemas/Period"
          },
          "abatementRange": {
            "$ref": "#/components/schemas/Range"
          },
          "abatementString": {
            "type": "string"
          },
          "recordedDate": {
            "pattern": "([0-9]([0-9]([0-9][1-9]|[1-9]0)|[1-9]00)|[1-9]000)(-(0[1-9]|1[0-2])(-(0[1-9]|[1-2][0-9]|3[0-1])(T([01][0-9]|2[0-3]):[0-5][0-9]:([0-5][0-9]|60)(\\.[0-9]+)?(Z|(\\+|-)((0[0-9]|1[0-3]):[0-5][0-9]|14:00)))?)?)?",
            "type": "string"
          },
          "recorder": {
            "$ref": "#/components/schemas/Reference"
          },
          "asserter": {
            "$ref": "#/components/schemas/Reference"
          },
          "stage": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ConditionStage"
            }
          },
          "evidence": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ConditionEvidence"
            }
          },
          "note": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Annotation"
            }
          }
        },
        "description": "https://build.fhir.org/ig/HL7/US-Core-R4/StructureDefinition-us-core-condition.html",
        "example": {
          "resourceType": "Condition",
          "id": "I2-U4FPJS3E633MAJQBCAA2KAB5BQ000000",
          "clinicalStatus": {
            "coding": [
              {
                "system": "http://hl7.org/fhir/R4/valueset-condition-clinical.html",
                "code": "active"
              }
            ]
          },
          "verificationStatus": {
            "coding": [
              {
                "system": "http://hl7.org/fhir/R4/valueset-condition-ver-status.html",
                "code": "unconfirmed"
              }
            ]
          },
          "category": [
            {
              "coding": [
                {
                  "system": "https://build.fhir.org/ig/HL7/US-Core-R4/ValueSet-us-core-condition-category.html",
                  "code": "problem-list-item"
                }
              ]
            }
          ],
          "code": {
            "coding": [
              {
                "system": "http://www.snomed.org/snomed-ct",
                "code": "38341003",
                "display": "Hypertension"
              }
            ],
            "text": "Hypertension"
          },
          "subject": {
            "reference": "https://sandbox-api.va.gov/services/fhir/v0/r4/Patient/1017283148V813263",
            "display": "Mr. Aurelio227 Cruickshank494"
          },
          "onsetDateTime": "2013-04-15T01:15:52Z",
          "recordedDate": "2013-04-14"
        }
      },
      "ConditionBundle": {
        "required": ["resourceType", "type"],
        "type": "object",
        "properties": {
          "resourceType": {
            "type": "string"
          },
          "id": {
            "pattern": "[A-Za-z0-9\\-\\.]{1,64}",
            "type": "string"
          },
          "meta": {
            "$ref": "#/components/schemas/Meta"
          },
          "implicitRules": {
            "pattern": "\\S*",
            "type": "string"
          },
          "language": {
            "pattern": "[^\\s]+(\\s[^\\s]+)*",
            "type": "string"
          },
          "identifier": {
            "$ref": "#/components/schemas/Identifier"
          },
          "type": {
            "type": "string",
            "enum": [
              "document",
              "message",
              "transaction",
              "transaction-response",
              "batch",
              "batch-response",
              "history",
              "searchset",
              "collection"
            ]
          },
          "timestamp": {
            "pattern": "([0-9]([0-9]([0-9][1-9]|[1-9]0)|[1-9]00)|[1-9]000)-(0[1-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1])T([01][0-9]|2[0-3]):[0-5][0-9]:([0-5][0-9]|60)(\\.[0-9]+)?(Z|(\\+|-)((0[0-9]|1[0-3]):[0-5][0-9]|14:00))",
            "type": "string"
          },
          "total": {
            "minimum": 0,
            "type": "integer",
            "format": "int32"
          },
          "link": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BundleLink"
            }
          },
          "entry": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ConditionEntry"
            }
          },
          "signature": {
            "$ref": "#/components/schemas/Signature"
          }
        },
        "example": {
          "resourceType": "Bundle",
          "type": "searchset",
          "total": 1,
          "link": [
            {
              "relation": "self",
              "url": "https://sandbox-api.va.gov/services/fhir/v0/r4/Condition?patient=1017283148V813263&page=1&_count=15"
            },
            {
              "relation": "first",
              "url": "https://sandbox-api.va.gov/services/fhir/v0/r4/Condition?patient=1017283148V813263&page=1&_count=15"
            },
            {
              "relation": "last",
              "url": "https://sandbox-api.va.gov/services/fhir/v0/r4/Condition?patient=1017283148V813263&page=1&_count=15"
            }
          ],
          "entry": [
            {
              "fullUrl": "https://sandbox-api.va.gov/services/fhir/v0/r4/Condition/I2-U4FPJS3E633MAJQBCAA2KAB5BQ000000",
              "resource": {
                "resourceType": "Condition",
                "id": "I2-U4FPJS3E633MAJQBCAA2KAB5BQ000000",
                "clinicalStatus": {
                  "coding": [
                    {
                      "system": "http://hl7.org/fhir/R4/valueset-condition-clinical.html",
                      "code": "active"
                    }
                  ]
                },
                "verificationStatus": {
                  "coding": [
                    {
                      "system": "http://hl7.org/fhir/R4/valueset-condition-ver-status.html",
                      "code": "unconfirmed"
                    }
                  ]
                },
                "category": [
                  {
                    "coding": [
                      {
                        "system": "https://build.fhir.org/ig/HL7/US-Core-R4/ValueSet-us-core-condition-category.html",
                        "code": "problem-list-item"
                      }
                    ]
                  }
                ],
                "code": {
                  "coding": [
                    {
                      "system": "http://www.snomed.org/snomed-ct",
                      "code": "38341003",
                      "display": "Hypertension"
                    }
                  ],
                  "text": "Hypertension"
                },
                "subject": {
                  "reference": "https://sandbox-api.va.gov/services/fhir/v0/r4/Patient/1017283148V813263",
                  "display": "Mr. Aurelio227 Cruickshank494"
                },
                "onsetDateTime": "2013-04-15T01:15:52Z",
                "recordedDate": "2013-04-14"
              }
            }
          ]
        }
      },
      "ConditionEntry": {
        "type": "object",
        "properties": {
          "id": {
            "pattern": "[A-Za-z0-9\\-\\.]{1,64}",
            "type": "string"
          },
          "extension": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Extension"
            }
          },
          "modifierExtension": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Extension"
            }
          },
          "link": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BundleLink"
            }
          },
          "fullUrl": {
            "pattern": "\\S*",
            "type": "string"
          },
          "resource": {
            "$ref": "#/components/schemas/Condition"
          },
          "search": {
            "$ref": "#/components/schemas/Search"
          },
          "request": {
            "$ref": "#/components/schemas/Request"
          },
          "response": {
            "$ref": "#/components/schemas/Response"
          }
        }
      },
      "ConditionEvidence": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "extension": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Extension"
            }
          },
          "modifierExtension": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Extension"
            }
          },
          "code": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CodeableConcept"
            }
          },
          "detail": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Reference"
            }
          }
        }
      },
      "ConditionStage": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "extension": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Extension"
            }
          },
          "modifierExtension": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Extension"
            }
          },
          "summary": {
            "$ref": "#/components/schemas/CodeableConcept"
          },
          "assessment": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Reference"
            }
          },
          "type": {
            "$ref": "#/components/schemas/CodeableConcept"
          }
        }
      },
      "ContactDetail": {
        "type": "object",
        "properties": {
          "id": {
            "pattern": "[A-Za-z0-9\\-\\.]{1,64}",
            "type": "string"
          },
          "name": {
            "pattern": "[ \\r\\n\\t\\S]+",
            "type": "string"
          },
          "telecom": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContactPoint"
            }
          }
        },
        "description": "https://www.hl7.org/fhir/R4/metadatatypes.html#ContactDetail"
      },
      "ContactPoint": {
        "type": "object",
        "properties": {
          "id": {
            "pattern": "[A-Za-z0-9\\-\\.]{1,64}",
            "type": "string"
          },
          "system": {
            "type": "string",
            "enum": ["phone", "fax", "email", "pager", "other", "url", "sms"]
          },
          "value": {
            "pattern": "[ \\r\\n\\t\\S]+",
            "type": "string"
          },
          "use": {
            "type": "string",
            "enum": ["home", "work", "temp", "old", "mobile"]
          },
          "rank": {
            "minimum": 1,
            "type": "integer",
            "format": "int32"
          },
          "period": {
            "$ref": "#/components/schemas/Period"
          }
        },
        "description": "https://hl7.org/fhir/R4/datatypes.html#ContactPoint"
      },
      "DiagnosticReport": {
        "required": ["category", "code", "issued", "resourceType", "status", "subject"],
        "type": "object",
        "properties": {
          "resourceType": {
            "type": "string"
          },
          "id": {
            "pattern": "[A-Za-z0-9\\-\\.]{1,64}",
            "type": "string"
          },
          "meta": {
            "$ref": "#/components/schemas/Meta"
          },
          "implicitRules": {
            "pattern": "\\S*",
            "type": "string"
          },
          "language": {
            "pattern": "[^\\s]+(\\s[^\\s]+)*",
            "type": "string"
          },
          "text": {
            "$ref": "#/components/schemas/Narrative"
          },
          "contained": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SimpleResource"
            }
          },
          "extension": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Extension"
            }
          },
          "modifierExtension": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Extension"
            }
          },
          "identifier": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Identifier"
            }
          },
          "basedOn": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Reference"
            }
          },
          "status": {
            "type": "string",
            "enum": [
              "amended",
              "appended",
              "cancelled",
              "corrected",
              "entered-in-error",
              "final",
              "partial",
              "preliminary",
              "registered",
              "unknown"
            ]
          },
          "category": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CodeableConcept"
            }
          },
          "code": {
            "$ref": "#/components/schemas/CodeableConcept"
          },
          "subject": {
            "$ref": "#/components/schemas/Reference"
          },
          "encounter": {
            "$ref": "#/components/schemas/Reference"
          },
          "effectiveDateTime": {
            "pattern": "([0-9]([0-9]([0-9][1-9]|[1-9]0)|[1-9]00)|[1-9]000)(-(0[1-9]|1[0-2])(-(0[1-9]|[1-2][0-9]|3[0-1])(T([01][0-9]|2[0-3]):[0-5][0-9]:([0-5][0-9]|60)(\\.[0-9]+)?(Z|(\\+|-)((0[0-9]|1[0-3]):[0-5][0-9]|14:00)))?)?)?",
            "type": "string"
          },
          "effectivePeriod": {
            "$ref": "#/components/schemas/Period"
          },
          "issued": {
            "pattern": "([0-9]([0-9]([0-9][1-9]|[1-9]0)|[1-9]00)|[1-9]000)-(0[1-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1])T([01][0-9]|2[0-3]):[0-5][0-9]:([0-5][0-9]|60)(\\.[0-9]+)?(Z|(\\+|-)((0[0-9]|1[0-3]):[0-5][0-9]|14:00))",
            "type": "string"
          },
          "performer": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Reference"
            }
          },
          "resultsInterpreter": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Reference"
            }
          },
          "specimen": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Reference"
            }
          },
          "result": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Reference"
            }
          },
          "imagingStudy": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Reference"
            }
          },
          "media": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DiagnosticReportMedia"
            }
          },
          "conclusion": {
            "type": "string"
          },
          "conclusionCode": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CodeableConcept"
            }
          },
          "presentedForm": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Attachment"
            }
          }
        },
        "description": "https://build.fhir.org/ig/HL7/US-Core-R4/StructureDefinition-us-core-diagnosticreport-lab.html",
        "example": {
          "resourceType": "DiagnosticReport",
          "id": "I2-M2QUOOXL3O73NUZCB7HEOVQ2GAGQFOATAYXW5FMU3I57IYQDE6RQ0000",
          "status": "final",
          "category": [
            {
              "coding": [
                {
                  "system": "http://terminology.hl7.org/CodeSystem/v2-0074",
                  "code": "LAB",
                  "display": "Laboratory"
                }
              ]
            }
          ],
          "code": {
            "text": "panel"
          },
          "subject": {
            "reference": "https://sandbox-api.va.gov/services/fhir/v0/r4/Patient/1011537977V693883",
            "display": "Mr. Aurelio Cruickshank"
          },
          "effectiveDateTime": "2020-07-20T01:15:52Z",
[...]
