/*
  This file is here to prep for separating NavBar into two components, NavBar and Header. This file is for 
  Header, which would currently be the top-level component. It is actually called NavBar, but that naming is
  confusing, given that the top levels tags and CSS classes use "header" naming terminology. Anyway, in the 
  future, there will be a component Header to accompany these styles; currently they are used in NavBar.
*/

@import '../styles/variables';

.header-content {
  max-width: none;

  @include media($large-screen) {
    padding-right: 3rem;
    padding-left: 3rem;
    height: 127px;
  }

  display: flex;
  align-items: center;

  a, a:visited {
    color: $color-white;
  }

  .api-status-link {
    margin-left: auto;
    z-index: 2;
    font-size: 1.7rem;
    margin-top: 2rem;
    margin-bottom: 0.3rem;
  }
}

.header-right-container {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

.header-right-content {
  display: flex;
}

// a temporary patch until we adopt VA design system more fully
#get-started-button {
  margin-right: 2rem;
}

.usa-header.usa-header-extended {
  background: $color-blue-darkest;

  .usa-logo {
    @include media($large-screen) {
      margin-top: 0;
      margin-bottom: 0;
      font-size: 4.2rem;
    }

    a {
      color: #FFFFFF;
      font-weight: 300;
    }
  }
}
