@import '../styles/variables';

.va-api-hero {
  background: $color-blue-darkest;
  padding: 4rem 0 4rem;
  background-size: cover;

  .va-api-hero-callout {
    background: none;
    color: $color-white;
    max-width: 100%;
    padding: 0;

    h1 {
      font-family: $font-sans;
      color: $color-white;
    }

    p {
      font-size: 1.2em;
      font-weight: 100;
      margin: 0;
      max-width: 700px;
    }
  }
}
