@import '../styles/variables';

// provides dependencies for m-crisis-line
@import '~@department-of-veterans-affairs/formation/sass/base/b-mixins';

// provides CSS class va-crisis-panel, va-crisis-panel-body, 
@import '~@department-of-veterans-affairs/formation/sass/site/m-crisis-line';

button.va-crisis-line-button {
  background-image: none;
  background-size: 0;
  background-color: #A62D1B;
  transition: background-color 0.3s ease-in-out;

  @include media($medium-large-screen) {
    .vcl-container {
       background-color: #7F2011;
    }
  }

  &:hover {
    background-color: #7F2011;

    @include media($medium-large-screen) {
      .vcl-container {
        background-color: #A62D1B;
      }
    }
  }

  .vcl {
    // override with white version of the VCL icon
    background: url('../assets/VCL-icon-white.svg') no-repeat right 29%/100%;
  }

  .vcl-container {
    transition: background-color 0.3s ease-in-out;
  }

  .vcl-right-arrow {
    width: 1.2rem;
  }
}

.va-api-crisis-panel {
  top: 0;
  transform: none;
}

.va-api-crisis-line-logo {
  height: 2rem;
}

ul.va-api-crisis-panel-list {
  .va-api-crisis-panel-icon {
    width: 24px;
    height: 24px;
  }

  a:active,
  a:focus {
    outline-offset: -2px;
    outline: 2px solid #FDB81E;
  }
}
