.code-wrapper {
  overflow-x: auto;
  background-color: #222935;

  & > pre {
    margin: 0;
    overflow: visible;
    position: relative;
  }

  code {
    font-family: 'Ubuntu Mono', monospace;
    overflow: auto;
    max-height: 400px;
  }
}

.fit-content {
  width: fit-content;
}
